<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>Title</title>
</head>
<body>
    .apply>.wrap>table>thead>tr>th{商品信息}+th{请选择您要申请的类型}^^tbody>tr>td>dl>dt{商家：}>em{genanx旗舰店}^dd>a.img>img^a.title{GENANX闪电潮牌棒球服休闲修 身网格镂空双层印花外套男...}+p{颜色分类：罗纹袖口 米白色...}+p{订单编号：1695254895996814 商品价格：210.00元 *1 运      费：10.00元}*4^^^td>h1{申请服务：}>strong{我要退货退款}+{（填写信息提交后，无法修改，请认真填写）}^table>tr>th{退款原因：}+td>.select>.opt-for+i^ul>li{ddddd}*4^^^tr>th{退款金额：}+td>input+{元（最多210.00元）}^^tr>th{退款说明：}+td>textarea^^tr>th{上传凭证：}+td>cite{选择凭证图片}+input:file^^tr>th+td>button{提交申请}+em{取消并返回}
</body>
</html>