.fiveicon>(div>i+a{待付款})*5^+.consumer-info>.mylevel>p{我的等级}>em.cons-level{二钻消费商}+em.earn-cort^^+.balances>.trans-record{交易变动记录}+table>tr>td>p{余额：8.88}^+td^+tr>td>p{消费利润：0.00M贝}^td^+tr>td>p{我的抵用券：}>em{567}^^+td>p{购物券：}>em{2}^^^^+.info-bottom>table>tr>td>p{分享利润：}>em{0.05}+i^^+td>p{累计收益：}>em{3.50}^^^+tr>td>em.bluefont{马上去赚取利润}^td


.consumer_show>.title>p>b+span^^+.myone>.pic>img^+.mytitle>a{GENANX闪电潮牌棒球服休闲修身网格镂空双层印花外套男...}+p{颜色分类：罗纹袖口 米白色...}^+.mycout>span{x1}*2^.state>span{已完成}^+.godetail>a{查看}

.slide_favorite>.left_bu+.right_bu+.slideimg>(.liimg>a>img+p)*4

.newtoday>p>span^^+.todaybrands>.brands_left>img^+.brands_right>img^+.todaylogo>.logoli>img+p

.change_title>b{猜你喜欢}+a{换一批}^.change_once>.changeone>img+.imgtitle>p{糖力2016春装新款欧美原创数码印花甜美落肩夹克上衣百搭短...}+em.dollar{}+em.money{钱}+span{¥388.00}

ul.commend_member_home>li>img
.cash_coupons>p{抵用券}>span{今日可获得}>em{元}^^p{每日签到可获得0.5元现金券}+p{每日连续签到可以得好多}>img^+p>a.catch{领取}+a.nocatch{去花掉}

.convenience_service>dl>dt{便民服务}>dd>.recharge>.chargeone{手机充值}*3^^+dd>.putnumber>table>tr>th{手机号}+td>input^^tr>th+td{支持移动、联通、电信通信}^+tr>th{面值：}+td>.moneyselect+em.actual_price{98.0-100.0}^^+tr>th+td>button{立即充值}+em.rechange_center{充值中心}

.mytrack>.tracktitle>b{我的足迹}+a{查看更多}^.tracklist>.track_left+ul>li>a>img+p{¥42.00}^^^+.track_right

.friend_circle>.title>a^ul>li>a{你的iPhone买贵了！不信你看这！}*3