<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>Title</title>
</head>
<body>
.wrap.m-t-10>.member-left>.member-info-small>.head-portrait>img+.head-portrait-cover^strong{草裙芭蕾}+span{二钻消费商}+.integral>cite{抵用积分}>em{456}^cite{购物券}>em{0}+{张}^^^(h3>i+{我的交易}^ul>li>ai{&#xe601;}+{我的全部订单}^(li>a>i+{我的评价管理})*4)*6

.member-right>h1{收货地址}+.add-address>h2{＋新增收货地址}>small{电话号码、手机号必选填一项,其余均为必填项}^.map+fieldset>ul>li>label{收货人姓名：}+input^li>label{所在地区：}+select*3^li>label{详细收货地址：}+textarea^li>label{邮政编码：：}+input^li>label{手机号码：：}+input^li>label{固定号码：：}+input^li>label+input:radio+{设置为默认收货地址}^li.submit>label+button{保存收货地址}
h2{收货地址管理}>small{您已创建}>em{2}+{个收货地址，最多可创建}+em{20}+{个}^^(table.address-head>colgroup>col*5^tr>th*6^^table.address>>colgroup>col*5^tr>td*6)*2+.btn-address-admin>button.unfold+button.fold
</body>
</html>