<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>Title</title>
</head>
<body>
               0

    .siteNav>ul.siteNavBdR>li.map>.tag>i.fRight>span{&#xe60f;}+em{&#xe60e;}^i{&#xe604;}+{网站地图}^.content>(dl.feature>dt{1111}+dd>a{22}*8)*4^^li.service>.tag>i.fRight>span{&#xe60f;}+em{&#xe60e;}^i{&#xe608;}+{联系客服}^.content>p{3333}+br+{3333}+br+{3333}+i{&#xe602;}+br+{3333}^^li.app>.tag>i.fRight>span{&#xe60f;}+em{&#xe60e;}^i{&#xe60d;}+{手机版}^.content>p{4444444}+ul>li.current>i{&#xe60a;}+{44444}^li>i{&#xe601;}+{444444}^^.QRCode>img*2^^^li.favorites>.tag>i.fRight>span{&#xe60f;}+em{&#xe60e;}^i{&#xe607;}+{我的收藏}^.content>ul>(li>a{5555})*2^^^li.cart>.tag>i.fRight>span{&#xe60f;}+em{&#xe60e;}^i{&#xe603;}+{购物车}+cite{0}^^li.member>.tag>i.fRight>span{&#xe60f;}+em{&#xe60e;}^{我的M商城}^.content>ul>(li>a{5555})*4^^^^.siteNavBdL{6666666666}>a{33333}+a.sigin{4444}

    .page-header>h1>img+{用户注册}
</body>
</html>