<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>个人资料</title>
    <link rel="stylesheet" href="/resource/css/reset.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/css/information.css">
</head>
<body>
.rightPart>h1>{个人信息}^.inforContext>ul>(li>a.defbor{基本信息})+(li>a{头像照片})+(li>a{我的等级})^^+.infor-01>.inforLeft>(.userName>label[for=userName]{用户名账号：}+input[value=草裙芭蕾]#userName^.message)+(.userNickname>label[for=userNickname]{昵称：}+input#userNickname^.message)+(.trueName>label[for=trueName]{真实姓名：}+input#trueName^.message)+(.identification>label[for=identification]{身份证号：}+input#identification^.message)+(.useSex>label[for=useSex]{性别：}+input:radio+{男}+input:radio+{女}+input:radio+{保密})+(.birth>label[for=birth]{生日：}+select+{年}+select+{月}+select+{日})+(.userEmail>label[for=userEmail]{已绑定的邮箱：}+b+a+i.remind)+(.userPhone>label[for=userPhone]{已绑定手机：}+b+a+i.remind)+(.inforCommit>input:button)^+.inforRight>h3{温馨提示}+p{注：内容随时修改}
.upload-head-portrait>.rightBar.preview>h4{预览：}+p{你上传的图片会自动生成2种尺寸，请注意小尺寸的头像是否清晰}+.lg-head-portrait>img^span{120*120px}+.sm-head-portrait>img^span{60*60px}^.upload>h3{上传头像}>small{仅支持JPG、GIF、PNG、JPEG、BMP格式，文件小于4M}^


</body>
</html>