<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>Title</title>
</head>
<body>
.container>.pageInfo>h2>small{已经注册M商城账号了，现在就去}>a{登录}^{创建一个新帐户}
.container>.sigin-poster>img[title='海报尺寸550*500'][art='海报尺寸550*500']^.user>label{用户名：}+.input-text>i{111}+input[type='text']^.message^.setPSW>label{设置密码：}+.input-text>i{111}+input[type='text']^.message^.verifyPSW>label{确认密码：}+.input-text>i{111}+input[type='text']^.message^.email>label{验证邮箱：}+.input-text>i{111}+input[type='text']^.cut{切换}>strong{手机注册}^.message^.phone>label{验证手机：}+.input-text>i{111}+input[type='text']^.cut{切换}>strong{邮箱注册}^.message^.CAPTCHA>label{验证码：}+.input-CAPTCHA>input[type='text']^img+.cut{看不清，}>em{换一张}^.message^.note>label{短信验证码：}+.input-CAPTCHA>input[type='text']^button{获取短信验证码}+.message^.mail>label{邮箱验证：}+.input-CAPTCHA>input[type='text']^button{发送邮箱认证}+.message^.referrer>label{推荐人ID：}+.input-text>i{111}+input[type='text']^.message^.protocol>.checkbox+input:checkbox+{我已阅读并同意}>em{《M商城用户注册协议》}^^.sigin>button{立即注册}^.Research>i{11}+{注册页面，用户调查}
.cut-pc-app>.icon-1>img^.icon-2>img^^.login-main>.pc>h2{登录M商城}+fieldset>.cut-p-m>input:radio#ordinary+label[for=ordinary]+input:radio#mobile+label[for=mobile]^.user>.input-text>input+i^.message^.password>.input-text>input+i^.message^.trendsPSW>.input-text>input+i^button{60 秒后重试}^.message{动态密码已发至您的手机，15分钟内有效，注意查收}+.proving>label{为了您的账户安全，请滑块验证}+.provingContent^.assist>span{忘记密码？}+input:checkbox+{自动登录}+.btn-button>button{登  录}^^^.info{还不是M商城会员？}>em{30秒免费注册}^^.app>h2{扫码安全登录}+p{使用M商城APP手机客户端扫一扫登录}+.code>img^.message>strong>i+{二维码将于 60 秒后失效}^cite{使用帮助}^^.info{还不是M商城会员？}>em{30秒免费注册}

</body>
</html>