<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>Title</title>
</head>
<body>
    .message_action_box>.select-selection>span+ul>li{112222}*8^^.head_action>label.choose_all>input:chickbox+{全选}^.delete_choose{选中删除}+.read_choose{选中已读}+.head_title{最近三个月站内信}
dl.message_content>(dt{今天（2条）}+(dd>.delete>i^.choose>input:checkbox^.title{【登录提醒】}+.content{您的账号于2016年03月09日 08:46:29登录，如非本人操作，请尽快修改登录密码}+.property>a{修改密码>}+em.unread{未读}+em.read{已读}+.time{[2016-3-18 08:13:45] 拷贝})*2)*3
</body>
</html>