.pro-review>.pro-review-mid>table>thead>th[colspan=2].pro-info{商品信息}^+tr>td>img[width=336 height=336]^+td>table>thead>th[colspan=2].pro-title{卡斐乐手机壳透明电镀 苹果6p保护套女款卡通可爱}^+(tr>td{订单号}*2)*5+tfoot>th[colspan=2]>img[width=80 height=80]+p{被评商家：百草味旗舰店综合评分：}


.total-review>p{累计评价}>em{18}

.buyer-impression>.left>em{95%}+p{商品好评率}^.right>p>span{款式不错}*6

.graybg>.impre-notice+table>tr>td>.write-pro>h3{评价商品}+input:text^+.write-servie>h3{评价服务}+input:text^+.subimg>.img*6^+p.note{注：修改评论请到消费商中心>我的评价管理（评价只能修改一次，请认真评分）}^td>table.impre-heart>(tr>td{商品评价}+td>img*5)*3^+.express>p{快递员服务评价}+(label{失望}>input:radio)*5

