<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>shopping cart</title>
</head>
<body>
.wrap>h1{全部商品}>span{5}+small.operation>cite>input:checkbox#all+label[for=all]{全选}^cite{删除选中的商品}+cite{移到收藏夹}^^table.thead_cart>thead>tr>th+th.title{商品信息}+th{属性}+th{单价（元）}+th{数量}+th{金额（元）}+th{操作}^^^dl.cart-goods-list>dt>cite{运费：0.00}+span>input:checkbox^{商家：百草味旗舰店}^dd>(table>tr>td>input:checkbox^td>a>img^^td>p>a{港仔春装新款男士宽松长袖套头衬衫韩版小清新条纹落肩衬衣气质潮}^em>span{消费利润：8.8M贝}^^td{颜色：条纹}>br+{尺寸：XL}^td>del{ ¥388.00 }+cite{¥235.00}+.favorable>span{优惠促销}+i+div{购物券：满499减50优惠：¥65.0}^^td>.num>i.plus+i.minus+input^^td>strong{¥235.00}^td>a{移到收藏夹}+a{删除})

(table.tbody_cart>thead>tr>th>input:checkbox^th[rowspan='5']{商家：百草味旗舰店}+th[rowspan=2]{运费：0.00}^^tbody>tr>td>input:checkbox^td>a>img^^td>p>a{港仔春装新款男士宽松长袖套头衬衫韩版小清新条纹落肩衬衣气质潮}^em>span{消费利润：8.8M贝}^^td{颜色：条纹}>br+{尺寸：XL}^td>del{ ¥388.00 }+cite{¥235.00}+.favorable>span{优惠促销}+i+div{购物券：满499减50优惠：¥65.0}^^td>.num>i.plus+i.minus+input^^td>strong{¥235.00}^td>a{移到收藏夹}+a{删除})*5

table.close-an-account>tr>td>input:checkbox+label{全选}+em.clearChoose{清空选中商品}+em.moveFavorite{移动到收藏夹}^td.resolution>cite{拆分结算}>i^div.resolution-content>i.right+i.left+dl>(dt>(a.good-section>img+p{取消选中})*2^dd>p{商品}>em{2}+{件}+strong{￥168.00}+button{去结算})*3^^^td.opt-for{已选中}>em{5}+{件商品  消费总利润：}+em{38.8}+{M贝}^td.price>p{合价(不含运费):}>strong{1888.88}^{已节省：-￥300.00}^td.affirm>button{确认结算}

h1>a{管理收货地址}+{选择收货地址}^ul.addr>(li>.subsidiary>.default>i+strong{默认}^.activate>a{修改}+{/}+a{删除}^^.info>strong{浙江杭州）}+{（文圣芳 收}+p{江干白杨经济技术开发区22号大街52号雅购大楼4层}+p{15267090642})*4^.action-Bar>a{+使用新地址}+a{展开全部地址}^h1>a{返回修改购物车}+{确认订单信息}

table.goods-info>thead>tr>th{商家：百草味旗舰店}>span{购满499元快递免邮}+a{去凑单>}^^^tbdoy>(tr>td>a>img^^td>a{港仔春款男士宽松长袖套头衬衫韩版小清新条纹落肩衬衣气质潮}+p>span{颜色：条纹}+span{尺寸：XL}^^td{+1}+td{¥235.00}+td{8.80M贝}+td{已节省：68.00元}+td{¥235.00})*2+tr.message>td>cite{订单留言}+input+cite{运送方式}+select+cite{运费：}>em{¥10.00}^tr.use-ticket>td>i+{使用抵用券和红包}^^tr>td>table>tr>th{使用抵用券}+td>select^td{可用抵用券 256}^tr>th{使用红包}+td>input^td{或}>em{或 直接输入券号}^td>input+button{使用}

.amount>{}
</body>
</html>