<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>Title</title>
</head>
<body>
.succeed-page-top>.container>.btn-succeed>a{申请商家入驻}+.search>input:text+button{搜索}^^.nav-succeed>a{返回首页}+a{完善个人资料}^.logo>img
.container.sigin-succeed>h1{恭喜您，注册成功！}+p{恭喜您，成为M商城会员，可获得以下奖励，请点击立即领取}+ul.reward>li.bd-r-1>img+h2{领取现金券}+p{您将获得}>em{20}+{元现金券!}^^li>img+h2{领取礼品}+p{免费领取M商城搪瓷杯一个！!}^^.btn-main>button.available{立即领取}+button.invalid{领取成功}
.goodlistA>.title>span>i+{换一批}^{猜你喜欢}^ul>(li>a>img+p{原封国行【分期免息】Apple/苹果iPhone 6s 4.7英寸 全网通手机}+strong{¥ 5688.0})*5
</body>
</html>