.wrap_store>.store_center>table>thead>tr>th+td^^+tbody>(tr>th+td)*5

.main_title>b{颜色分类}+i+span>i^{选择标准颜色可增加搜索/导购机会，标准颜色还可填写颜色备注信息（偏深、偏亮等）！}^table>tr>td[width=37 align=right]+td[width=264 align=right]+td[width=150 align=right]+td[width=140 align=right]

.dimension>(lable>input[type=radio]^{欧码})*3+table>col[class=row-14]*7+tr>(td>input[type=checkbox]+{XXS}+span{备注})*7

.customer_dim{自定义}>input[type=checkbox]+input[type=text]+input[type=checkbox]+input[type=text]

.batchfill>p{批量填写}>input[type=text]*4+button{确定}^.batchta>table>thead>tr>td{颜色分类}*6^^+tbody>tr>th[rowspan=3]{颜色}+td{属性}*5^+tr>td{属性}*5^+tr>td{属性}*5^tr>th[rowspan=3]{颜色}+td{属性}*5^+tr>td{属性}*5+tr>td{属性}*5

.price_profit>table>tr>th{价格区间}*6^+tr>td{58.00}*6

.main_img>.bigimg+.smallimg>.small_left+.small_right+ul>(li>img[src=""])*5
.pro_main>.main_font+ul>(li.upload_img>span.top{主图}+span.bottom>i.left+i.delete+i.right^+img[src="/resource/images/midimg.jpg"])*7+li.upload_video

.freight_outer>.freight_iner>.freight_white>table>tr>td{提取方式}+td{使用物流配送}^+tr>td{个性设置：}+td>input[type=checkbox]+{买家可以选择物流}+p>(lable>input[type=radio]+{韵达物流})*3

.freight_gray>.default_template>p>em{星号}^{默认模板：}+select>option[value=韵达物流]^+button{新建模板}

.template_table>table>thead>tr>th[col=6]^^+tbody>tr>th{运送方式}*6^+tr>td{快递}*6

.attribute_outer>table>col*2+(tr>td{商品属性}+td{})*2

table.atrribute>col*4+tr>(th{货号}+td>select>option{属性值})*2

.pro_imginfo>table>tr>th>em{星号}^+td>lable>input[type=radio]+{电脑端}^^^+tr>td+td