<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户注册</title>
    <link rel="shortcut icon" href="http://static.33m.com/MSC/resource/images/bitbug_favicon.ico" />
    <link rel="stylesheet" href="/resource/css/reset.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/css/login.css">
    <script src="http://static.33m.com/MSC/resource/js/jquery-1.12.1.min.js"></script>
    <script src="/resource/js/ie-compatibility.js"></script>
</head>
<body>
<div class="siteNav siteNav2">
    <div class="wrap">
        <ul class="siteNavBdR">
            <li class="map">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i><i>&#xe604;</i>网站地图</div>
                <div class="content">
                    <dl class="new">
                        <dt>商城特色New</dt>
                        <dd><a href="">约惠吧</a><a href="">一元云购</a><a href="">数码商城</a><a href="">人气推荐</a><a
                                href="">约惠吧</a><a href="">一元云购</a><a href="">数码商城</a><a href="">人气推荐</a></dd>
                    </dl>
                    <dl class="hot">
                        <dt>热点推荐Hot</dt>
                        <dd><a href="">服装内衣</a><a href="">手机数码</a><a href="">母婴玩具</a><a href="">日用玩具</a><a
                                href="">鞋包配饰</a><a href="">家电办公</a><a href="">家纺居家</a><a href="">生活服务</a><a
                                href="">运动户外</a><a href="">护肤彩妆</a><a href="">食品酒水</a><a href="">天天特价</a></dd>
                    </dl>
                    <dl class="more">
                        <dt>更多精选More</dt>
                        <dd><a href="">雅共供销</a><a href="">雅购论坛</a><a href="">雅购钱包</a></dd>
                    </dl>
                    <dl class="help">
                        <dt>服务指南Help</dt>
                        <dd><a href="">注册流程</a><a href="">登录流程</a><a href="">忘记密码</a><a href="">全国联保</a><a
                                href="">闪电发货</a><a href="">假一赔十</a><a href="">正品保障</a><a href="">七天退换</a><a
                                href="">配送方式</a><a href="">产品发布</a><a href="">商品审核</a><a href="">商品拍摄</a></dd>
                    </dl>
                </div>
            </li>
            <li class="service">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i><i>&#xe608;</i>联系客服</div>
                <div class="content">
                    <p>服务热线:
                        <br>400-991-1949</p>
                    <p>在线客服:<i>&#xe602;</i><br>服务时间8:30-23:00</p>
                </div>
            </li>
            <li class="app">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i><i>&#xe60d;</i>手机版</div>
                <div class="content">
                    <p>扫一扫，下载M商城客户端</p>
                    <ul>
                        <li class="current"><i>&#xe60a;</i>Android</li>
                        <li><i>&#xe601;</i>iPhone</li>
                    </ul>
                    <div class="QRCode"><img src="/resource/images/AndroidCode.png" style="display: block" alt=""><img
                            src="/resource/images/iPhoneCode.png" alt=""></div>
                </div>
            </li>
            <li class="favorites">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i><i>&#xe610;</i>我的收藏</div>
                <div class="content">
                    <ul class="list">
                        <li><a href="">收藏的店铺</a></li>
                        <li><a href="">收藏的商品</a></li>
                    </ul>
                </div>
            </li>
            <li class="cart">
                <div class="tag"><i>
                    &#xe603;</i>购物车<cite>0</cite></div>
            </li>
            <li class="member">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i>我的M商城</div>
                <div class="content">
                    <ul class="list">
                        <li><a href="">我的订单</a></li>
                        <li><a href="">我的利润</a></li>
                        <li><a href="">我的优惠券</a></li>
                        <li><a href="">我的评论</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="siteNavBdL">Hi，欢迎光临M商城<a href="">请登录</a><a href="" class="sigin">免费注册</a></div>
    </div>
</div>
<div class="container">
    <div class="page-header-write">
        <h1><img src="/resource/images/logo-MSC.png" alt="" class="logo">用户注册</h1>
    </div>
</div>
<div class="container">
    <div class="pageInfo">
        <h2>
            <small>已经注册M商城账号了，现在就去<a href="">登录</a></small>
            创建一个新帐户
        </h2>
    </div>
</div>
<div class="container sigin-form">
    <div class="sigin-poster"><a href=""><img src="" alt="" title="海报尺寸550*500" art="海报尺寸550*500"></a></div>
    <form action="">
        <ul class="form-wrap">
            <li class="user formSection"><label for="user">用户名：</label>
                <div class="input-text"><i data-icon="">&#xe606;</i><input type="text" id="user" data-value='用户名'></div>
                <div class="message"></div>
            </li>
            <li class="setPW formSection"><label for="setPW">设置密码：</label>
                <div class="input-text"><i data-icon="&#xe60b;">&#xe60b;</i><input type="password" id="setPW"></div>
                <div class="message"></div>
            </li>
            <li class="verifyPW formSection"><label for="verifyPW">确认密码：</label>
                <div class="input-text"><i data-icon="&#xe60b;">&#xe60b;</i><input type="password" id="verifyPW"></div>
                <div class="message"></div>
            </li>
            <li class="email formSection"><label for="email">验证邮箱：</label>
                <div class="input-text"><i data-icon="&#xe605;">&#xe605;</i><input type="text" id="email"
                                                                                   data-value='验证邮箱'></div>
                <div class="cut">切换<strong>手机注册</strong></div>
                <div class="message"></div>
            </li>
            <li class="phone formSection"><label for="phone">验证手机：</label>
                <div class="input-text"><i data-icon="&#xe60c;">&#xe60c;</i><input type="text" id="phone"
                                                                                   data-value='验证手机'></div>
                <div class="cut">切换<strong>邮箱注册</strong></div>
                <div class="message"></div>
            </li>
            <li class="CAPTCHA formSection"><label for="CAPTCHA">验证码：</label>
                <div class="input-CAPTCHA"><input type="text" id="CAPTCHA" data-value='验证码'></div>
                <img src="/resource/images/CAPTCHA.jpg" alt="" class="CAPTCHAImg">
                <div class="cut">看不清，<em>换一张</em></div>
                <div class="message"></div>
            </li>
            <li class="note formSection"><label for="note">短信验证码：</label>
                <div class="input-CAPTCHA"><input type="text" id="note" value="动态密码" data-value='动态密码'></div>
                <button>获取短信验证码</button>
                <div class="message"></div>
            </li>
            <li class="mail formSection"><label for="mail">邮箱验证：</label>
                <div class="input-CAPTCHA"><input type="text" id="mail" value="动态密码" data-value='动态密码'></div>
                <button>发送邮箱认证</button>
                <div class="message"></div>
            </li>
            <li class="referrer formSection"><label for="referrer">推荐人ID：</label>
                <div class="input-text"><input type="text" id="referrer" value="如无推荐人默认为0" data-value='如无推荐人默认为0'></div>
            </li>
            <li class="protocol formSection">
                <input type="checkbox" name="" id="protocol"><label for="">我已阅读并同意<em>《M商城用户注册协议》</em></label>
            </li>
            <li class="sigin">
                <button>立即注册</button>
            </li>
        </ul>
    </form>
    <p class="Research"><i>&#xe600;</i>注册页面，用户调查</p>
</div>

<div class="footer container"><!--结构略改了一层-->
    <div class="links"><a href="">关于M商城 </a>|<a href="">帮助中心</a>|<a href="">诚聘英才</a>|<a href="">友情链接</a>|<a
            href="">联系我们</a>|<a
            href="">商家入驻</a></div>
    <div class="copyrights">Copyright©2012-2016 M商城33M.com 版权所有</div>
</div>

</body>
<script src="/resource/js/variable.js"></script>
<script src="/resource/js/public.js"></script>
<script src="/resource/js/header.js"></script>
<script src="/resource/js/verify.js"></script>
<script src="/resource/js/signin.js"></script>

</html>