<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>24c店铺管理-上传商品-设置运费模板</title>
    <link rel="shortcut icon" href="http://static.33m.com/MSC/resource/images/bitbug_favicon.ico"/>
    <link rel="stylesheet" href="/resource/css/reset.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/css/store-management-freight-template.css">
    <link rel="stylesheet" href="/resource/css/layout.css">
    <script src="http://static.33m.com/MSC/resource/js/jquery-1.12.1.min.js"></script>
    <script src="/resource/js/ie-compatibility.js"></script>
</head>
<body>
<div class="wrap_store">
    <!--<div class="store_top_cos"></div>-->
    <div class="store_top">
        <div class="storename"><em>雅共生态</em><span>产品上传</span>
            <a href="#"><p><i>&#xe601;</i>点击预览</p></a>
        </div>
        <div class="store_own">
            <p>草裙芭蕾<i>&#xe623;</i></p>
            <a href=""><i>&#xe605;</i></a>
            <a href=""><i>&#xe63e;</i><span>新手指南</span></a>
        </div>
        <div class="store_top_center">
            <p>您选择的类目：<span>女装/女士精品>衬衫</span></p>
            <button>提交审核</button>
            <a href="#">
                <button>返回类目</button>
            </a>
        </div>

    </div>
    <div class="store_left">
        <ul>
            <li><a href=""><i>&#xe664;</i>基本信息</a></li>
            <li><a href=""><i>&#xe601;</i>商品主图</a></li>
            <li><span><i>&#xe65a;</i>运费模板</span></li>
            <li><a href=""><i>&#xe657;</i>商品属性</a></li>
            <li><a href=""><i>&#xe61a;</i>图文详情</a></li>
            <li><a href=""><i>&#xe661;</i>权益保障</a></li>

        </ul>
        <p>提交审核</p>
    </div>
    <div class="store_main">
        <div class="store_content">
            <table class="top_common">
                <col class="row-11"/>
                <thead>
                <tr>
                    <th>设置运费模板</th>
                    <td> <p class="yellow_bg"><i>&#xe641;</i>物流设置    为了提升消费者购物体验，淘宝要求全网商品设置运费模板，如何<a href="#">使用模板</a>，查看<a href="#">视频教程</a></p><span class="mustfill"><em>*</em>为必填项</span>
                    </td>
                </tr>
                </thead>
            </table>
            <div class="freight_outer">
                <div class="freight_white">
                    <table>
                        <col class="row-9" />
                        <tr>
                            <td>提取方式：</td>
                            <td>使用物流配送</td>
                        </tr>
                        <tr>
                            <td>个性设置：</td>
                            <td><input type="checkbox">买家可以选择物流
                                <p>
                                    <lable><input type="radio">韵达物流</lable>
                                    <lable><input type="radio">韵达物流</lable>
                                    <lable><input type="radio">韵达物流</lable>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="freight_gray">
                    <div class="default_template">
                        <p><em>*</em>
                        默认模板：
                        <select name="" id="">
                        <option value="">韵达物流</option>
                        </select>
                        <button>新建模板</button>
                        </p>
                    </div>
                    <div class="template_table">
                        <div class="selected">
                            <i>&#xe644;</i>
                        </div>
                        <table>
                            <col class="row-15" />
                            <col class="row-25" />
                            <col class="row-15" />
                            <col class="row-15" />
                            <col class="row-15" />
                            <col class="row-15" />
                            <thead>
                            <tr>
                                <th colspan="6">
                                    <div class="logistic">
                                        韵达物流
                                    </div>
                                    <div class="control">
                                        <span class="time">
                                            最后编辑时间：2016-04-06 11:00
                                        </span>
                                        <a href="#">修改</a>
                                        <span class="default">
                                            默认模板
                                        </span>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>运送方式</th>
                                <th>运送到</th>
                                <th>首件（个）</th>
                                <th>运费（元）</th>
                                <th>续件（个）</th>
                                <th>运费（元）</th>
                            </tr>
                            <tr>
                                <td>快递</td>
                                <td class="allcountry">全国</td>
                                <td>1</td>
                                <td>0.00</td>
                                <td>0</td>
                                <td>0.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="template_table">
                        <table>
                            <col class="row-15" />
                            <col class="row-25" />
                            <col class="row-15" />
                            <col class="row-15" />
                            <col class="row-15" />
                            <col class="row-15" />
                            <thead>
                            <tr>
                                <th colspan="6">
                                    <div class="logistic">
                                        顺丰快递
                                    </div>
                                    <div class="control">
                                        <span class="time">
                                            最后编辑时间：2016-04-06 11:00
                                        </span>
                                        <a href="#">修改</a>
                                        <span class="undefault">
                                            设为默认
                                        </span>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>运送方式</th>
                                <th>运送到</th>
                                <th>首件（个）</th>
                                <th>运费（元）</th>
                                <th>续件（个）</th>
                                <th>运费（元）</th>
                            </tr>
                            <tr>
                                <td>快递</td>
                                <td class="allcountry">全国</td>
                                <td>1</td>
                                <td>0.00</td>
                                <td>0</td>
                                <td>0.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="template_table">
                        <table>
                            <col class="row-15" />
                            <col class="row-25" />
                            <col class="row-15" />
                            <col class="row-15" />
                            <col class="row-15" />
                            <col class="row-15" />
                            <thead>
                            <tr>
                                <th colspan="6">
                                    <div class="logistic">
                                        申通快递
                                    </div>
                                    <div class="control">
                                        <span class="time">
                                            最后编辑时间：2016-04-06 11:00
                                        </span>
                                        <a href="#">修改</a>
                                        <span class="undefault">
                                            设为默认
                                        </span>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>运送方式</th>
                                <th>运送到</th>
                                <th>首件（个）</th>
                                <th>运费（元）</th>
                                <th>续件（个）</th>
                                <th>运费（元）</th>
                            </tr>
                            <tr>
                                <td>快递</td>
                                <td class="allcountry">全国</td>
                                <td>1</td>
                                <td>10.00</td>
                                <td>0</td>
                                <td>6.00</td>
                            </tr>
                            <tr>
                                <td>快递</td>
                                <td class="allcountry">青海,甘肃,西藏,内蒙古,新疆,宁夏</td>
                                <td>1</td>
                                <td>13.00</td>
                                <td>0</td>
                                <td>10.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="store_footer">
        <button class="graycolor">保存</button>
        <button class="whitecolor">清空本页</button>
    </div>
</div>
</body>
</html>