<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>24d店铺管理-上传商品-设置商品属性</title>
    <link rel="shortcut icon" href="http://static.33m.com/MSC/resource/images/bitbug_favicon.ico"/>
    <link rel="stylesheet" href="/resource/css/reset.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/css/store-management-pro-attribute.css">
    <link rel="stylesheet" href="/resource/css/layout.css">
    <script src="http://static.33m.com/MSC/resource/js/jquery-1.12.1.min.js"></script>
    <script src="/resource/js/ie-compatibility.js"></script>
</head>
<body>
<div class="wrap_store">
    <!--<div class="store_top_cos"></div>-->
    <div class="store_top">
        <div class="storename"><em>雅共生态</em><span>产品上传</span>
            <a href="#"><p><i>&#xe601;</i>点击预览</p></a>
        </div>
        <div class="store_own">
            <p>草裙芭蕾<i>&#xe623;</i></p>
            <a href=""><i>&#xe605;</i></a>
            <a href=""><i>&#xe63e;</i><span>新手指南</span></a>
        </div>
        <div class="store_top_center">
            <p>您选择的类目：<span>女装/女士精品>衬衫</span></p>
            <button>提交审核</button>
            <a href="#">
                <button>返回类目</button>
            </a>
        </div>

    </div>
    <div class="store_left">
        <ul>
            <li><a href=""><i>&#xe664;</i>基本信息</a></li>
            <li><a href=""><i>&#xe601;</i>商品主图</a></li>
            <li><a href=""><i>&#xe65a;</i>运费模板</a></li>
            <li><span><i>&#xe657;</i>商品属性</span></li>
            <li><a href=""><i>&#xe61a;</i>图文详情</a></li>
            <li><a href=""><i>&#xe661;</i>权益保障</a></li>

        </ul>
        <p>提交审核</p>
    </div>
    <div class="store_main">
        <div class="store_content">
            <table class="top_common">
                <col class="row-11"/>
                <thead>
                <tr>
                    <th>设置商品属性</th>
                    <td> <p class="yellow_bg"><i>&#xe641;</i>填错商品属性，可能会引起商品强制下架，影响您的正常销售。请认真准确填写</p>
                    </td>
                </tr>
                </thead>
            </table>
            <div class="attribute_outer">
                <table>
                    <col class="row-8">
                    <tr>
                        <th>商品属性：</th>
                        <td>
                            <div class="attribute_gray">
                                <table>
                                    <col class="row-15">
                                    <col class="row-35">
                                    <col class="row-15">
                                    <tr>
                                        <th>货号：</th>
                                        <td>
                                            <input type="text" name="" id="" />
                                        </td>
                                        <th>衣长：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><em>*</em>品牌：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                        <th>袖长：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><em>*</em>成分含量：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                        <th>袖型：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>服装版型：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                        <th>领型：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>风格：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                        <th>图案：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>服装款式细节：</th>
                                        <td>
                                            <button>设置</button>
                                        </td>
                                        <th><em>*</em>年份季节：</th>
                                        <td>
                                        <select name="" id="">
                                            <option value="">属性值</option>
                                        </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>适用年龄：</th>
                                        <td>
                                            <select name="" id="">
                                                <option value="">属性值</option>
                                            </select>
                                        </td>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <table class="mid_attribute_common">
                                <thead>
                                <tr>
                                    <td> <p class="yellow_bg"><i>&#xe641;</i>很抱歉，您暂未开通店铺管理，无法享受其他服务。不可勾选或勾选无效 <a href="#">我要申请店铺>></a></p>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>店铺分类：</th>
                        <td>
                            <div class="store_cate">
                                <lable><input type="checkbox">女装衬衫</lable>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="store_footer">
        <button class="graycolor">保存</button>
        <button class="whitecolor">清空本页</button>
    </div>
</div>
</body>
</html>