<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>24b店铺管理-上传商品-上传商品主图</title>
    <link rel="shortcut icon" href="http://static.33m.com/MSC/resource/images/bitbug_favicon.ico"/>
    <link rel="stylesheet" href="/resource/css/reset.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/css/store-management-upload-indexpic.css">
    <link rel="stylesheet" href="/resource/css/layout.css">
    <script src="http://static.33m.com/MSC/resource/js/jquery-1.12.1.min.js"></script>
    <script src="/resource/js/ie-compatibility.js"></script>
</head>
<body>
<div class="wrap_store">
    <!--<div class="store_top_cos"></div>-->
    <div class="store_top">
        <div class="storename"><em>雅共生态</em><span>产品上传</span>
            <a href="#"><p><i>&#xe601;</i>点击预览</p></a>
        </div>
        <div class="store_own">
            <p>草裙芭蕾<i>&#xe623;</i></p>
            <a href=""><i>&#xe605;</i></a>
            <a href=""><i>&#xe63e;</i><span>新手指南</span></a>
        </div>
        <div class="store_top_center">
            <p>您选择的类目：<span>女装/女士精品>衬衫</span></p>
            <button>提交审核</button>
            <a href="#">
                <button>返回类目</button>
            </a>
        </div>

    </div>
    <div class="store_left">
        <ul>
            <li><a href=""><i>&#xe664;</i>基本信息</a></li>
            <li><span><i>&#xe601;</i>商品主图</span></li>
            <li><a href=""><i>&#xe65a;</i>运费模板</a></li>
            <li><a href=""><i>&#xe657;</i>商品属性</a></li>
            <li><a href=""><i>&#xe61a;</i>图文详情</a></li>
            <li><a href=""><i>&#xe661;</i>权益保障</a></li>

        </ul>
        <p>提交审核</p>
    </div>
    <div class="store_main">
        <div class="store_content">
            <table class="top_common">
                <col class="row-11">
                <thead>
                <tr>
                    <th>上传商品主图</th>
                    <td><p class="no_bg">提示：上传图片大小不能超过 <em>3</em> M；建议上传展示图片为正方形</p> <p class="yellow_bg"><i>&#xe641;</i><em>600*600</em>以上的图片可以在商品详情页主图提供图片放大功能</p>
                    </td>
                </tr>
                </thead>
            </table>
            <div class="main_img">
                <div class="bigimg">
                    <img src="/resource/images/upload_big.jpg" width="360" height="360" />
                </div>
                <div class="smallimg">
                    <div class="small_left"><img src="/resource/images/small_left_upload.jpg" width="14" height="42"/> </div>
                    <div class="small_right"><img src="/resource/images/small_right_upload.jpg" width="14" height="42"/></div>
                    <ul>
                        <li><img src="/resource/images/upload_small.jpg" width="60" height="60"/></li>
                        <li><img src="/resource/images/upload_small.jpg" width="60" height="60"/></li>
                        <li><img src="/resource/images/upload_small.jpg" width="60" height="60"/></li>
                        <li><img src="/resource/images/upload_small.jpg" width="60" height="60"/></li>
                        <li><img src="/resource/images/upload_small.jpg" width="60" height="60"/></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="pro_main">
                    <div class="main_font">商品主图：</div>
                    <ul>
                        <li class="upload_img">
                            <span class="top">主图</span>
                            <span class="bottom">
                                <i class="left"></i>
                                <i class="delete"></i><i class="right"></i>
                            </span>
                            <i>&#xe62f;</i>
                        </li>
                        <li class="upload_img">
                            <span class="bottom">
                                <i class="left">&#xe627;</i>
                                <i class="delete">&#xe629;</i>
                                <i class="right">&#xe625;</i>
                            </span>
                            <img src="/resource/images/midupload.jpg" width="98" height="98" />
                        </li>
                        <li class="upload_img">
                            <span class="top">主图</span>
                            <span class="bottom">
                                <i class="left"></i>
                                <i class="delete"></i><i class="right"></i>
                            </span>
                            <i>&#xe62f;</i>
                        </li>
                        <li class="upload_img">
                            <span class="top">主图</span>
                            <span class="bottom">
                                <i class="left"></i>
                                <i class="delete"></i><i class="right"></i>
                            </span>
                            <i>&#xe62f;</i>
                        </li>
                        <li class="upload_img">
                            <span class="top">主图</span>
                            <span class="bottom">
                                <i class="left"></i>
                                <i class="delete"></i><i class="right"></i>
                            </span>
                            <i>&#xe62f;</i>
                        </li>
                        <li class="upload_img">
                            <span class="top">主图</span>
                            <span class="bottom">
                                <i class="left"></i>
                                <i class="delete"></i><i class="right"></i>
                            </span>
                            <i>&#xe62f;</i>
                        </li>
                        <li class="upload_img">
                            <span class="top">主图</span>
                            <span class="bottom">
                                <i class="left"></i>
                                <i class="delete"></i><i class="right"></i>
                            </span>
                            <i>&#xe62f;</i>
                        </li>

                        <li class="upload_video">
                            <span>上传主图视频</span>
                            <i>&#xe666;</i>
                            <span>暂未开通</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="store_footer">
        <button class="graycolor">保存</button>
        <button class="whitecolor">清空本页</button>
    </div>
</div>
</body>
</html>