<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>24a店铺管理-上传商品-填写基本信息</title>
    <link rel="shortcut icon" href="http://static.33m.com/MSC/resource/images/bitbug_favicon.ico"/>
    <link rel="stylesheet" href="/resource/css/reset.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/css/store-management-basic-information.css">
    <link rel="stylesheet" href="/resource/css/layout.css">
    <script src="http://static.33m.com/MSC/resource/js/jquery-1.12.1.min.js"></script>
    <script src="/resource/js/ie-compatibility.js"></script>
</head>
<body>
<div class="wrap_store">
    <!--<div class="store_top_cos"></div>-->
    <div class="store_top">
        <div class="storename"><em>雅共生态</em><span>产品上传</span>
            <a href="#"><p><i>&#xe601;</i>点击预览</p></a>
        </div>
        <div class="store_own">
            <p>草裙芭蕾<i>&#xe623;</i></p>
            <a href=""><i>&#xe605;</i></a>
            <a href=""><i>&#xe63e;</i><span>新手指南</span></a>
        </div>
        <div class="store_top_center">
            <p>您选择的类目：<span>女装/女士精品>衬衫</span></p>
            <button>提交审核</button>
            <a href="#">
                <button>返回类目</button>
            </a>
        </div>
    </div>
    <div class="store_left">
        <ul>
            <li><span><i>&#xe664;</i>基本信息</span></li>
            <li><a href=""><i>&#xe601;</i>商品主图</a></li>
            <li><a href=""><i>&#xe65a;</i>运费模板</a></li>
            <li><a href=""><i>&#xe657;</i>商品属性</a></li>
            <li><a href=""><i>&#xe61a;</i>图文详情</a></li>
            <li><a href=""><i>&#xe661;</i>权益保障</a></li>

        </ul>
        <p>提交审核</p>
    </div>
    <div class="store_main">
        <div class="store_content">
            <table>
                <col class="row-11">
                <thead>
                <tr>
                    <th>填写商品信息</th>
                    <td><p class="yellow_bg"><i>&#xe641;</i>您填写的商品信息将在店铺前台展现给买家，请认真填写！</p><span class="mustfill"><em>*</em>为必填项</span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th><em>*</em>商品标题：</th>
                    <td><input type="text" class="form-control col-50"><span
                            class="message-control">还能输入<em>30</em>个字</span></td>
                </tr>
                <tr>
                    <th>商品副标题：</th>
                    <td><textarea name="" id="" class="form-control col-50" rows="3">适用于发布商品促销信息，商品信息动态等</textarea><span
                            class="message-control">还能输入<em>140</em>个字</span></td>
                </tr>
                <tr>
                    <th><em>*</em>宝贝规格：</th>
                    <td>
                        <div class="spec">
                            <div class="main_title"><b>颜色分类：</b><img src="/resource/images/mustcolor.png" width="20"
                                                                     height="20">
                                <p><i>&#xe641;</i>选择标准颜色可增加搜索/导购机会，标准颜色还可填写颜色备注信息（偏深、偏亮等）！</p>
                            </div>
                            <table class="color_cate">
                                <col class="row-5"/>
                                <col class="row-37"/>
                                <col class="row-20"/>
                                <tr>
                                    <th><input type="checkbox" name="" value=""></th>
                                    <td><input type="text" value="选择或输入主色、货号" name="" class="form-control"></td>
                                    <td><input type="text" value="备注(如偏深偏浅等)" name="" class="form-control"></td>
                                    <td>
                                        <button class="subimg">上传图片</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th><input type="checkbox" name="" value=""></th>
                                    <td><input type="text" value="选择或输入主色、货号" name="" class="form-control"></td>
                                    <td><input type="text" value="备注(如偏深偏浅等)" name="" class="form-control"></td>
                                    <td>
                                        <button class="subimg">上传图片</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th><input type="checkbox" name="" value=""></th>
                                    <td><input type="text" value="选择或输入主色、货号" name="" class="form-control"></td>
                                    <td><input type="text" value="备注(如偏深偏浅等)" name="" class="form-control"></td>
                                    <td>
                                        <button class="subimg">上传图片</button>
                                    </td>
                                </tr>
                            </table>
                            <div class="main_title"><b>尺码规格：</b><p><i>&#xe641;</i>选择标准颜色可增加搜索/导购机会，标准颜色还可填写颜色备注信息（偏深、偏亮等）！</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="dimension">
                                <lable><input type="radio">欧码</lable>
                                <lable><input type="radio">英码</lable>
                                <lable><input type="radio">美码</lable>
                                <table>
                                    <col class="row-14">
                                    <col class="row-14">
                                    <col class="row-14">
                                    <col class="row-14">
                                    <col class="row-14">
                                    <col class="row-14">
                                    <col class="row-14">
                                    <tr>
                                        <td><input type="checkbox">XXS<span>备注</span></td>
                                        <td><input type="checkbox">XXS<span>备注</span></td>
                                        <td><input type="checkbox">XXS</td>
                                        <td><input type="checkbox">XXS</td>
                                        <td><input type="checkbox">XXS</td>
                                        <td><input type="checkbox">XXS</td>
                                        <td><input type="checkbox">XXS</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox">XXS</td>
                                        <td><input type="checkbox">XXS</td>
                                        <td><input type="checkbox">XXS</td>
                                        <td><input type="checkbox">XXS</td>
                                        <td><input type="checkbox">XXS</td>
                                        <td><input type="checkbox">XXS<span>备注</span></td>
                                        <td><input type="checkbox">XXS</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="customer_dim">自定义：
                                <input type="checkbox" name="" id="">
                                <input type="text" name="" id="" value="XL">
                                <input type="checkbox" name="" id="">
                                <input type="text" name="" id="" value="输入尺码及备注">
                                <p><a href="#">+添加尺寸</a>-<a href="#">尺寸对照表</a></p>
                                <p><a href="#">+添加尺寸</a>-<a href="#">尺寸对照表</a></p>
                            </div>
                            <div class="main_title"><b>商品销售规格：</b><p><i>&#xe641;</i>颜色分类、尺码，请全选或全不选，如果只选一部分则无法保存对应的价格和库存</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="batchfill">
                                <p>批量填写<input type="text" name="" value="消费商价"><input type="text" name="" value="库存"><input type="text" name="" value="市场价"><input type="text" name="" value="消费利润">
                                    <button>确定</button>
                                </p>
                                <div class="batchta">
                                    <table>
                                        <col class="row-15">
                                        <col class="row-15">
                                        <col class="row-16">
                                        <col class="row-17">
                                        <col class="row-17">
                                        <col class="row-20">
                                        <thead>
                                        <tr>
                                            <td>颜色分类</td>
                                            <td>尺码</td>
                                            <td>消费商价（元）</td>
                                            <td>库存（件）</td>
                                            <td>市场价（元）</td>
                                            <td>平台利润（M贝）</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th rowspan="3">黑色</th>
                                            <td>XL</td>
                                            <td>52</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>XL</td>
                                            <td>68</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>XL</td>
                                            <td>58</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th rowspan="3">白色</th>
                                            <td>XL</td>
                                            <td>52</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>XL</td>
                                            <td>68</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        <tr>
                                            <td>XL</td>
                                            <td>58</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tr></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>价格利润：</th>
                    <td>
                        <div class="price_profit">
                            <table>
                                <tr>
                                    <th>价格区间</th>
                                    <th>平台价格展示</th>
                                    <th>总库存</th>
                                    <th>平台利润</th>
                                </tr>
                                <tr>
                                    <td>58.00 - 68.00</td>
                                    <td>58.00</td>
                                    <td>2.8</td>
                                    <td>2.8</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>商家编码：</th>
                    <td>
                        <div class="merchant_code">
                            <input type="text" name="" id="">商品条形码：<input type="text" name="" id="">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="store_footer">
        <button class="graycolor">保存</button>
        <button class="whitecolor">清空本页</button>
    </div>
</div>
</body>
</html>