<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>申请退货-买家提交申请-等待商家处理</title>
    <link rel="shortcut icon" href="http://static.33m.com/MSC/resource/images/bitbug_favicon.ico"/>
    <link rel="stylesheet" href="/resource/css/reset.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/css/buyer-commit-apply.css">
    <link rel="stylesheet" href="/resource/css/business-refunded.css">
    <link rel="stylesheet" href="/resource/css/layout.css">
    <script src="http://static.33m.com/MSC/resource/js/jquery-1.12.1.min.js"></script>
    <script src="/resource/js/ie-compatibility.js"></script>
</head>
<body>
<!-- 登录信息 -->
<div class="siteNav siteNav2 bg-base">
    <div class="wrap">
        <ul class="siteNavBdR">
            <li class="map">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i><i>&#xe604;</i>网站地图</div>
                <div class="content">
                    <dl class="new">
                        <dt>商城特色New</dt>
                        <dd><a href="">约惠吧</a><a href="">一元云购</a><a href="">数码商城</a><a href="">人气推荐</a><a
                                href="">约惠吧</a><a href="">一元云购</a><a href="">数码商城</a><a href="">人气推荐</a></dd>
                    </dl>
                    <dl class="hot">
                        <dt>热点推荐Hot</dt>
                        <dd><a href="">服装内衣</a><a href="">手机数码</a><a href="">母婴玩具</a><a href="">日用玩具</a><a
                                href="">鞋包配饰</a><a href="">家电办公</a><a href="">家纺居家</a><a href="">生活服务</a><a
                                href="">运动户外</a><a href="">护肤彩妆</a><a href="">食品酒水</a><a href="">天天特价</a></dd>
                    </dl>
                    <dl class="more">
                        <dt>更多精选More</dt>
                        <dd><a href="">雅共供销</a><a href="">雅购论坛</a><a href="">雅购钱包</a></dd>
                    </dl>
                    <dl class="help">
                        <dt>服务指南Help</dt>
                        <dd><a href="">注册流程</a><a href="">登录流程</a><a href="">忘记密码</a><a href="">全国联保</a><a
                                href="">闪电发货</a><a href="">假一赔十</a><a href="">正品保障</a><a href="">七天退换</a><a
                                href="">配送方式</a><a href="">产品发布</a><a href="">商品审核</a><a href="">商品拍摄</a></dd>
                    </dl>
                </div>
            </li>
            <li class="service">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i><i>&#xe608;</i>联系客服</div>
                <div class="content">
                    <p>服务热线:
                        <br>400-991-1949</p>
                    <p>在线客服:<i>&#xe602;</i><br>服务时间8:30-23:00</p>
                </div>
            </li>
            <li class="app">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i><i>&#xe60d;</i>手机版</div>
                <div class="content">
                    <p>扫一扫，下载M商城客户端</p>
                    <ul>
                        <li class="current"><i>&#xe60a;</i>Android</li>
                        <li><i>&#xe601;</i>iPhone</li>
                    </ul>
                    <div class="QRCode"><img src="/resource/images/AndroidCode.png" style="display: block" alt=""><img
                            src="/resource/images/iPhoneCode.png" alt=""></div>
                </div>
            </li>
            <li class="favorites">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i><i>&#xe610;</i>我的收藏</div>
                <div class="content">
                    <ul class="list">
                        <li><a href="">收藏的店铺</a></li>
                        <li><a href="">收藏的商品</a></li>
                    </ul>
                </div>
            </li>
            <li class="cart">
                <div class="tag"><i>
                    &#xe603;</i>购物车<cite>0</cite></div>
            </li>
            <li class="member">
                <div class="tag"><i class="fRight"><span>&#xe60f;</span><em>&#xe60e;</em></i>我的M商城</div>
                <div class="content">
                    <ul class="list">
                        <li><a href="">我的订单</a></li>
                        <li><a href="">我的利润</a></li>
                        <li><a href="">我的优惠券</a></li>
                        <li><a href="">我的评论</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="siteNavBdL">Hi，欢迎光临M商城<a href="">请登录</a><a href="" class="sigin">免费注册</a></div>
    </div>
</div>
<!-- 登录信息 end -->
<!-- 页头 -->
<div class="page-head-write bg-f">
    <div class="container">
        <div class="step step-1"></div>
        <div class="logo"><img src="/resource/images/logo.jpg" alt=""></div>
    </div>
</div>
<!-- 页头 end -->
<!-- 主体 -->
<div class="apply table-1 bg-f">
    <div class="wrap">
        <table class="box-wrap">
            <col class="left">
            <!-- 表头 -->
            <thead>
            <tr>
                <th>商品信息</th>
                <th>请选择您要申请的类型</th>
            </tr>
            </thead>
            <!-- 表头 end -->
            <tbody>
            <tr>
                <td>
                    <dl class="good-info">
                        <dt>
                        <div class="merchant-name"><i>&#xe622;</i>商家：<em>genanx旗舰店</em></div>
                        <div class="merchant-info hide">
                            <h5><span>综合评分</span><span class="strip"><cite style="width:97%"></cite></span><em>9.7</em>
                            </h5>
                            <ul>
                                <li>商品
                                    <span>9.76</span><i class="up">&#xe607;</i><span>高于</span>5.20%
                                </li>
                                <li>服务
                                    <span>9.76</span><i class="up">&#xe607;</i><span>高于</span>5.20%
                                </li>
                                <li>物流
                                    <span>9.76</span><i class="down">&#xe612;</i><span>低于</span>5.20%
                                </li>
                            </ul>
                            <div>
                                <p><span>真实姓名</span>隔壁老王</p>
                                <p><span>所在城市</span>浙江杭州</p>
                                <p><span>联系方式</span>15267899876</p>
                                <p><span>工商执照</span><img src="/resource/images/gs.jpg" alt=""></p>
                            </div>
                        </div>
                        </dt>
                        <dd><a href="" class="img"><img src="/resource/images/iPhoneCode.png" alt=""></a><a href=""
                                                                                                            class="title">GENANX闪电潮牌棒球服休闲修
                            身网格镂空双层印花外套男...</a>
                            <p class="p-b-10">颜色分类：罗纹袖口 米白色...</p>
                            <p>订单编号：1695254895996814</p>
                            <p>商品价格：<em>210.00</em>元 *1</p>
                            <p>运 费：<em>10.00</em>元</p>
                        </dd>
                    </dl>
                </td>
                <td>
                    <h1>申请服务：<strong>我要退货退款</strong><span>（填写信息提交后，无法修改，请认真填写）</span></h1>
                    <div class="refund-wait">
                        <table>
                            <tr>
                                <th>退货原因：</th>
                                <td>收到商品与描述不符</td>
                            </tr>
                            <tr>
                                <th>退款金额：</th>
                                <td><em class="orange-14">210.00</em>元</td>
                            </tr>
                            <tr>
                                <th>退货说明：</th>
                                <td>收到商品与描述不符</td>
                            </tr>
                            <tr>
                                <th>上传凭证：</th>
                                <td>
                                    <img src="../resource/images/business_gray.jpg" width="80" height="80" alt="上传凭证">
                                    <img src="../resource/images/business_gray.jpg" width="80" height="80" alt="上传凭证">
                                    <img src="../resource/images/business_gray.jpg" width="80" height="80" alt="上传凭证">
                                </td>
                            </tr>
                            <tr>
                                <th>处理状态：</th>
                                <td><b>申请等待商家通过同意...</b><span>[商家处理剩余时间：</span><em
                                        class="orange"><span>71</span></em><span>小时</span><em
                                        class="orange">32</em><span>分钟</span><em class="orange">54</em><span>秒]</span>
                                </td>
                            </tr>
                        </table>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="serviceinfo">
            <h3>服务说明</h3>
            <div class="request"><strong>1、我要退货</strong>
                <p>申请条件：若为商品问题，或者不想要了且与卖家达成一致退货，请选择“我要退货”</p>
                <p>退货流程：1申请退货>2.商家发送退货地址给买家>3.买家退货并填写退货物流信息>4.商家确认收货，退货成功</p>
            </div>
            <div class="request"><strong>1、我要退款</strong>
                <p>申请条件：若您未收到货，或已收到货且与卖家达成一致不退货仅退款，请选择“我要退款”</p>
                <p>退货流程：1.申请退款>2.商家同意退款申请>3.退款成功</p>
            </div>
        </div>
    </div>
</div>
<!-- 主体 end -->
<!-- 承诺 -->
<div class="bg-f p-b-50 p-t-50">
    <ul class="wrap guarantee">
        <li><img src="/resource/images/guarantee_r1_c1.png" alt=""><strong>正品保证</strong>
            <p>正品行货 品质保障</p>
        </li>
        <li><img src="/resource/images/guarantee_r1_c3.png" alt=""><strong>正品保证</strong>
            <p>正品行货 品质保障</p>
        </li>
        <li><img src="/resource/images/guarantee_r1_c5.png" alt=""><strong>正品保证</strong>
            <p>正品行货 品质保障</p>
        </li>
        <li class="last"><img src="/resource/images/guarantee_r1_c7.png" alt=""><strong>正品保证</strong>
            <p>正品行货 品质保障</p>
        </li>
    </ul>
</div>

<!-- 承诺 end -->
<!-- 尾部导航 -->
<div class="footer-nav">
    <div class="wrap">
        <dl class="wechat">
            <dt>M商城微信</dt>
            <dd><img src="/resource/images/wechatCode.jpg" alt=""></dd>
        </dl>
        <dl>
            <dt><i>&#xe604;</i>消费者服务保障</dt>
            <dd><a href="">提供发票
            </a><a href="">正品保障</a><a href="">假一赔十</a><a href="">全国联保</a><a href="">闪电发货</a><a
                    href="">7天退换货</a></dd>
        </dl>
        <dl>
            <dt><i>&#xe604;</i>新手帮助</dt>
            <dd><a href="">余额变动查询
            </a><a href="">忘记密码</a><a href="">登录流程</a><a href="">用户协议</a><a href="">注册流程</a></dd>
        </dl>
        <dl>
            <dt><i>&#xe604;</i>购物指南</dt>
            <dd><a href="">购物流程
            </a><a href="">支付方式</a><a href="">配送方式</a></dd>
        </dl>
        <dl>
            <dt><i>&#xe604;</i>售后服务</dt>
            <dd><a href="">维权服务
            </a><a href="">退换货规则</a><a href="">退换货流程</a></dd>
        </dl>
        <dl>
            <dt><i>&#xe604;</i>特色栏目</dt>
            <dd><a href="">商品审核标准
            </a><a href="">商品发布规则</a><a href="">商品上传发布</a><a href="">商品运费教程</a><a href="">全国统一客服中心</a><a
                    href="">合同下载</a></dd>
        </dl>
        <dl>
            <dt><i>&#xe604;</i>商家服务</dt>
            <dd><a href="">天天特价
            </a><a href="">掌上商城</a><a href="">商品拍摄</a><a href="">雅购新闻</a></dd>
        </dl>
    </div>
</div>
<!-- 尾部导航 end -->
<!-- 尾部 -->
<div class="footer bg-f">
    <div class="container pt-80 pb-30">
        <div class="links"><a href="">关于M商城 </a>|<a href="">帮助中心</a>|<a href="">诚聘英才</a>|<a href="">友情链接</a>|<a
                href="">联系我们</a>|<a
                href="">商家入驻</a></div>
        <div class="copyrights">Copyright©2012-2016 M商城33M.com 版权所有 浙ICP备15003936号-1 增值电信业务经营许可证：浙B2-20150083-1</div>
        <div class="endorsement"><img src="/resource/images/foot_r1_c1.jpg" alt=""><img
                src="/resource/images/foot_r1_c3.jpg" alt=""><img src="/resource/images/foot_r1_c5.jpg" alt=""><img
                src="/resource/images/foot_r1_c7.jpg" alt=""><img src="/resource/images/foot_r1_c9.jpg" alt=""></div>
    </div>
</div>
<!-- 尾部 end -->
</body>
<script src="/resource/js/public.js"></script>
<script src="/resource/js/header.js"></script>
<script src="/resource/js/return-request.js"></script>
</html>