@charset "UTF-8";
/**
 * Created by wwp9 on 2016-03-30.
 */
/*
box model;
*/
.siteNav .siteNavBdR li.map .content dl, .siteNav .siteNavBdR li.map .content dl dd a, .table-1 .good-info dd a.img, .guarantee li, .guarantee li img, .footer-nav dl {
  float: left; }

.siteNav .siteNavBdR li, .siteNav .siteNavBdR li.app .content ul, .table-1 .good-info dt .merchant-name i, .footer-nav dl.wechat {
  float: right; }

.footer, .guarantee {
  *zoom: 1; }
  .footer:after, .guarantee:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both; }

.table-1 .good-info dt {
  cursor: pointer; }

.table-1 .good-info dt .merchant-info h5 .strip, .table-1 .good-info dt .merchant-info ul li span, .table-1 .good-info dt .merchant-info p span {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
清浮动
*/
/*
结构颜色
*/
/*
圆角类
*/
/*
盒子类
*/
/*
排版

create by kant in 2016-3-18 04:11
*/
/*
create by kant on 2016-03-18 20:17

数据表格
*/
/**
 * Created by wwp9 on 2016-03-31.
 */
.siteNav {
  background: #fff;
  height: 30px; }
  .siteNav:before, .siteNav:after {
    content: " ";
    display: table; }
  .siteNav:after {
    clear: both; }
  .siteNav .siteNavBdR {
    line-height: 20px; }
    .siteNav .siteNavBdR li {
      position: relative;
      width: 105px;
      margin-left: -1px;
      height: 30px; }
      .siteNav .siteNavBdR li .tag {
        position: relative;
        z-index: 1;
        border-left: 1px dotted #eeeeee;
        padding: 0 10px;
        white-space: nowrap;
        margin-top: 5px;
        cursor: pointer; }
        .siteNav .siteNavBdR li .tag i {
          font-size: 14px;
          padding-right: 2px;
          color: #777777; }
          .siteNav .siteNavBdR li .tag i em {
            display: none; }
          .siteNav .siteNavBdR li .tag i.fRight {
            padding: 0;
            font-size: 12px; }
      .siteNav .siteNavBdR li .content {
        display: none;
        position: absolute;
        top: 30px;
        width: 105px;
        background: #fff;
        border: 1px solid #eeeeee;
        z-index: 1; }
        .siteNav .siteNavBdR li .content .list {
          padding: 5px 10px 10px;
          line-height: 22px; }
          .siteNav .siteNavBdR li .content .list li {
            width: 100%;
            float: none; }
      .siteNav .siteNavBdR li.map .content {
        right: 0;
        width: 1058px;
        height: 210px; }
        .siteNav .siteNavBdR li.map .content dl {
          width: 287.45455px;
          height: 190px;
          padding: 0 15px;
          margin: 10px 0;
          border-right: 1px solid #eeeeee; }
          .siteNav .siteNavBdR li.map .content dl dt {
            font: 400 16px/4 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
          .siteNav .siteNavBdR li.map .content dl dd {
            line-height: 26px; }
            .siteNav .siteNavBdR li.map .content dl dd a {
              width: 33.3%;
              padding: 0 15px; }
          .siteNav .siteNavBdR li.map .content dl.new {
            width: 192px; }
            .siteNav .siteNavBdR li.map .content dl.new dt {
              color: #ff6100; }
            .siteNav .siteNavBdR li.map .content dl.new dd a:hover {
              color: #ff6100;
              text-decoration: none; }
            .siteNav .siteNavBdR li.map .content dl.new a {
              width: 50%; }
          .siteNav .siteNavBdR li.map .content dl.hot dt {
            color: #0061c4; }
          .siteNav .siteNavBdR li.map .content dl.hot dd a:hover {
            color: #0061c4;
            text-decoration: none; }
          .siteNav .siteNavBdR li.map .content dl.more dt {
            color: #c40000; }
          .siteNav .siteNavBdR li.map .content dl.more dd a:hover {
            color: #c40000;
            text-decoration: none; }
          .siteNav .siteNavBdR li.map .content dl.help {
            border: 0; }
            .siteNav .siteNavBdR li.map .content dl.help dd a:hover {
              color: #333333; }
      .siteNav .siteNavBdR li.service .content {
        width: 160px;
        height: 100px; }
        .siteNav .siteNavBdR li.service .content p {
          padding: 3px 20px;
          line-height: 20px; }
          .siteNav .siteNavBdR li.service .content p i {
            color: #c40000;
            font-size: 18px; }
      .siteNav .siteNavBdR li.app .content {
        width: 205px;
        height: 145px;
        padding-right: 7px; }
        .siteNav .siteNavBdR li.app .content p {
          padding: 10px 7px 0 7px;
          font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .siteNav .siteNavBdR li.app .content ul {
          width: 90px; }
          .siteNav .siteNavBdR li.app .content ul li {
            width: 83px;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            background: #eeeeee;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #777777;
            cursor: pointer;
            text-align: center; }
            .siteNav .siteNavBdR li.app .content ul li i {
              font-size: 18px; }
            .siteNav .siteNavBdR li.app .content ul li.current {
              background: #ff6100;
              color: #fff; }
        .siteNav .siteNavBdR li.app .content div {
          width: 104px;
          padding: 5px; }
          .siteNav .siteNavBdR li.app .content div img {
            display: none;
            width: 104px;
            height: 104px; }
      .siteNav .siteNavBdR li.cart .tag i, .siteNav .siteNavBdR li.cart .tag cite {
        color: #c40000; }
      .siteNav .siteNavBdR li.current .tag {
        height: 30px;
        margin: 0;
        z-index: 2;
        border: 1px solid #eeeeee;
        border-bottom: 0;
        background: #fff;
        line-height: 29px;
        color: #c40000; }
        .siteNav .siteNavBdR li.current .tag i {
          color: #c40000; }
          .siteNav .siteNavBdR li.current .tag i span {
            display: none; }
          .siteNav .siteNavBdR li.current .tag i em {
            display: inline; }
  .siteNav .siteNavBdL {
    line-height: 30px; }
    .siteNav .siteNavBdL a {
      padding-left: 10px; }
      .siteNav .siteNavBdL a.sigin {
        color: #c40000; }

.siteNav2 .siteNavBdR li.map .content {
  width: 1098px; }
  .siteNav2 .siteNavBdR li.map .content dl {
    width: 298.36364px; }
    .siteNav2 .siteNavBdR li.map .content dl.new {
      width: 199.27273px; }

/**
 * Created by wwp9 on 2016-03-30.
 */
.table-1:before, .table-1:after {
  content: " ";
  display: table; }
.table-1:after {
  clear: both; }
.table-1 .box-wrap thead th, .table-1 .box-wrap tbody td {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; }
.table-1 .box-wrap {
  border: 1px solid #ddd;
  width: 100%;
  background: #fff; }
  .table-1 .box-wrap thead {
    line-height: 3; }
    .table-1 .box-wrap thead th {
      background: #f4f4f4;
      font-size: 14px; }
  .table-1 .box-wrap tbody th {
    font-weight: 400; }
  .table-1 .box-wrap tbody td {
    vertical-align: top; }
  .table-1 .box-wrap thead th {
    text-align: left;
    padding-left: 20px; }
  .table-1 .box-wrap tbody td table {
    width: 100%; }
    .table-1 .box-wrap tbody td table th {
      border: 0; }
    .table-1 .box-wrap tbody td table td {
      border: 0; }
.table-1 .left {
  width: 275px; }

/**
 * Created by wwp9 on 2016-04-01.
 */
.serviceinfo {
  margin-top: 20px;
  background: #eeeeee;
  padding: 17px 56px 56px 56px; }
  .serviceinfo h3 {
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    padding-left: 24px; }
  .serviceinfo .request {
    margin: 10px 0px; }
  .serviceinfo strong {
    font-size: 14px;
    line-height: 2;
    color: #555555; }
  .serviceinfo p {
    padding-left: 24px;
    font-size: 14px;
    color: #555555; }

/**
 * Created by wwp9 on 2016-03-30.
 */
.table-1 .good-info {
  line-height: 3;
  color: #555555; }
  .table-1 .good-info dt {
    position: relative; }
    .table-1 .good-info dt .merchant-name {
      padding: 0 10px;
      margin: 0 5px;
      border-bottom: 1px dotted #cccccc; }
      .table-1 .good-info dt .merchant-name em {
        color: #006ede; }
      .table-1 .good-info dt .merchant-name i {
        padding: 4px 2px 0;
        border: 1px solid #999999;
        line-height: 1;
        margin-top: 5px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #f4f4f4;
        color: #999999; }
    .table-1 .good-info dt .merchant-info {
      position: absolute;
      width: 276px;
      top: 40px;
      left: -1px;
      background: #fff;
      line-height: 1.5;
      border: 1px solid #ddd;
      border-top: 0;
      padding-bottom: 10px; }
      .table-1 .good-info dt .merchant-info h5 {
        padding: 10px;
        text-align: center; }
        .table-1 .good-info dt .merchant-info h5 span {
          font-size: 12px;
          font-weight: 400; }
        .table-1 .good-info dt .merchant-info h5 .strip {
          width: 50%;
          background: #f4f4f4;
          height: 10px;
          margin: 0 10px; }
          .table-1 .good-info dt .merchant-info h5 .strip cite {
            display: block;
            height: 10px;
            background: #de0000; }
        .table-1 .good-info dt .merchant-info h5 em {
          color: #de0000; }
      .table-1 .good-info dt .merchant-info ul {
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        margin: 0 10px 10px; }
        .table-1 .good-info dt .merchant-info ul li {
          padding-left: 40px; }
          .table-1 .good-info dt .merchant-info ul li span {
            width: 40px;
            text-align: center; }
          .table-1 .good-info dt .merchant-info ul li i.up {
            color: #f60; }
          .table-1 .good-info dt .merchant-info ul li i.down {
            color: #2b7f07; }
      .table-1 .good-info dt .merchant-info p {
        padding: 0 20px;
        line-height: 2; }
        .table-1 .good-info dt .merchant-info p span {
          width: 60px; }
  .table-1 .good-info dd {
    line-height: 2.5;
    padding: 10px 5px; }
    .table-1 .good-info dd a.img {
      width: 80px;
      height: 80px;
      margin-right: 10px; }
      .table-1 .good-info dd a.img img {
        display: block;
        width: 80px;
        height: 80px; }
    .table-1 .good-info dd a.title {
      display: block;
      line-height: 1.5;
      margin-bottom: 15px; }
    .table-1 .good-info dd p {
      color: #777777; }
      .table-1 .good-info dd p em {
        color: #f30; }
.table-1 h1 {
  border-bottom: 1px solid #cccccc;
  margin: 0 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.5;
  padding: 0 0 0 15px;
  color: #555555; }
  .table-1 h1 span {
    font-size: 12px; }
.table-1 .apply_reason {
  width: 100%;
  position: relative; }
  .table-1 .apply_reason tr th {
    width: 15%;
    text-align: right;
    color: #555555;
    font-size: 14px;
    vertical-align: top;
    padding: 10px 0px;
    line-height: 28px; }
  .table-1 .apply_reason tr td {
    text-align: left;
    padding: 10px 0px;
    font-size: 14px;
    color: #555555; }
    .table-1 .apply_reason tr td cite {
      background: url(../images/cert_btn.jpg) repeat-x;
      border: 1px solid #cccccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      display: inline-block;
      padding: 0px 20px;
      height: 28px;
      line-height: 28px; }
    .table-1 .apply_reason tr td .select {
      position: relative; }
      .table-1 .apply_reason tr td .select .opt-for {
        border: 1px solid #cccccc;
        width: 254px;
        height: 28px;
        padding: 0 20px 0 10px;
        overflow: hidden;
        line-height: 26px; }
      .table-1 .apply_reason tr td .select i {
        position: absolute;
        left: 235px;
        top: 6px; }
      .table-1 .apply_reason tr td .select ul {
        position: absolute;
        width: 254px;
        top: 27px;
        border: 1px solid #bbb;
        background: #fff;
        font-size: 12px;
        line-height: 1.8; }
        .table-1 .apply_reason tr td .select ul li {
          line-height: 28px;
          color: #555555;
          padding-left: 40px; }
          .table-1 .apply_reason tr td .select ul li.current, .table-1 .apply_reason tr td .select ul li:hover {
            background: #eeeeee; }
    .table-1 .apply_reason tr td .replay_money {
      border: 1px solid #cccccc;
      width: 84px;
      padding: 0px 5px;
      height: 28px;
      margin-right: 5px;
      color: #555555;
      font-size: 14px; }
    .table-1 .apply_reason tr td textarea {
      width: 486px;
      height: 82px;
      padding: 5px;
      border: 1px solid #cccccc;
      color: #555555;
      font-size: 14px;
      font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .table-1 .apply_reason tr td button {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background: url(../images/replay_btn.jpg) repeat-x;
      height: 36px;
      width: 92px;
      border: 0px;
      color: #fff;
      font-size: 14px;
      line-height: 36px; }
    .table-1 .apply_reason tr td em {
      color: #0061c4;
      font-size: 14px;
      padding-left: 10px; }
      .table-1 .apply_reason tr td em:hover {
        color: #c40000; }

.footer {
  padding: 1em;
  text-align: center;
  font: 400 12px/3 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .footer .links {
    font-size: 14px;
    color: #999999; }
    .footer .links a {
      padding: 0 15px; }
  .footer .endorsement img {
    margin: 10px; }

.guarantee {
  margin: 50px auto 20px;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 140%; }
  .guarantee li {
    width: 274px;
    border-right: 1px solid #cccccc;
    line-height: 25px;
    padding: 15px 0; }
    .guarantee li img {
      width: 50px;
      height: 50px;
      margin: 0 20px 0 50px; }
    .guarantee li p {
      font-size: 90%;
      color: #777777; }
    .guarantee li.last {
      border: 0; }

.footer-nav {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e5e5e5;
  padding: 15px 0; }
  .footer-nav:before, .footer-nav:after {
    content: " ";
    display: table; }
  .footer-nav:after {
    clear: both; }
  .footer-nav dl {
    padding-right: 30px;
    color: #555555; }
    .footer-nav dl dt {
      font-size: 18px;
      line-height: 3; }
      .footer-nav dl dt i {
        margin-right: 10px; }
    .footer-nav dl dd {
      padding-left: 30px;
      font-size: 13px;
      line-height: 2;
      padding-bottom: 15px; }
      .footer-nav dl dd a {
        display: block;
        color: #555555; }
        .footer-nav dl dd a:hover {
          color: #ff6100;
          text-decoration: none; }
    .footer-nav dl.wechat {
      text-align: center; }
      .footer-nav dl.wechat dd {
        padding: 0; }

/*# sourceMappingURL=buyer-commit-apply.css.map */
