@charset "UTF-8";
/*
box model;
*/
.fLeft, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24, .col-25, .col-26, .col-27, .col-28, .col-29, .col-30, .col-31, .col-32, .col-33, .col-34, .col-35, .col-36, .col-37, .col-38, .col-39, .col-40, .col-41, .col-42, .col-43, .col-44, .col-45, .col-46, .col-47, .col-48, .col-49, .col-50, .col-51, .col-52, .col-53, .col-54, .col-55, .col-56, .col-57, .col-58, .col-59, .col-60, .col-61, .col-62, .col-63, .col-64, .col-65, .col-66, .col-67, .col-68, .col-69, .col-70, .col-71, .col-72, .col-73, .col-74, .col-75, .col-76, .col-77, .col-78, .col-79, .col-80, .col-81, .col-82, .col-83, .col-84, .col-85, .col-86, .col-87, .col-88, .col-89, .col-90, .col-91, .col-92, .col-93, .col-94, .col-95, .col-96, .col-97, .col-98, .col-99 {
  float: left; }

.fRight {
  float: right; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both; }

/*
清浮动
*/
/*
结构颜色
*/
/*
圆角类
*/
/*
盒子类
*/
/*
排版

create by kant in 2016-3-18 04:11
*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1100px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.row-1 {
  width: 1% !important; }

.row-2 {
  width: 2% !important; }

.row-3 {
  width: 3% !important; }

.row-4 {
  width: 4% !important; }

.row-5 {
  width: 5% !important; }

.row-6 {
  width: 6% !important; }

.row-7 {
  width: 7% !important; }

.row-8 {
  width: 8% !important; }

.row-9 {
  width: 9% !important; }

.row-10 {
  width: 10% !important; }

.row-11 {
  width: 11% !important; }

.row-12 {
  width: 12% !important; }

.row-13 {
  width: 13% !important; }

.row-14 {
  width: 14% !important; }

.row-15 {
  width: 15% !important; }

.row-16 {
  width: 16% !important; }

.row-17 {
  width: 17% !important; }

.row-18 {
  width: 18% !important; }

.row-19 {
  width: 19% !important; }

.row-20 {
  width: 20% !important; }

.row-21 {
  width: 21% !important; }

.row-22 {
  width: 22% !important; }

.row-23 {
  width: 23% !important; }

.row-24 {
  width: 24% !important; }

.row-25 {
  width: 25% !important; }

.row-26 {
  width: 26% !important; }

.row-27 {
  width: 27% !important; }

.row-28 {
  width: 28% !important; }

.row-29 {
  width: 29% !important; }

.row-30 {
  width: 30% !important; }

.row-31 {
  width: 31% !important; }

.row-32 {
  width: 32% !important; }

.row-33 {
  width: 33% !important; }

.row-34 {
  width: 34% !important; }

.row-35 {
  width: 35% !important; }

.row-36 {
  width: 36% !important; }

.row-37 {
  width: 37% !important; }

.row-38 {
  width: 38% !important; }

.row-39 {
  width: 39% !important; }

.row-40 {
  width: 40% !important; }

.row-41 {
  width: 41% !important; }

.row-42 {
  width: 42% !important; }

.row-43 {
  width: 43% !important; }

.row-44 {
  width: 44% !important; }

.row-45 {
  width: 45% !important; }

.row-46 {
  width: 46% !important; }

.row-47 {
  width: 47% !important; }

.row-48 {
  width: 48% !important; }

.row-49 {
  width: 49% !important; }

.row-50 {
  width: 50% !important; }

.row-51 {
  width: 51% !important; }

.row-52 {
  width: 52% !important; }

.row-53 {
  width: 53% !important; }

.row-54 {
  width: 54% !important; }

.row-55 {
  width: 55% !important; }

.row-56 {
  width: 56% !important; }

.row-57 {
  width: 57% !important; }

.row-58 {
  width: 58% !important; }

.row-59 {
  width: 59% !important; }

.row-60 {
  width: 60% !important; }

.row-61 {
  width: 61% !important; }

.row-62 {
  width: 62% !important; }

.row-63 {
  width: 63% !important; }

.row-64 {
  width: 64% !important; }

.row-65 {
  width: 65% !important; }

.row-66 {
  width: 66% !important; }

.row-67 {
  width: 67% !important; }

.row-68 {
  width: 68% !important; }

.row-69 {
  width: 69% !important; }

.row-70 {
  width: 70% !important; }

.row-71 {
  width: 71% !important; }

.row-72 {
  width: 72% !important; }

.row-73 {
  width: 73% !important; }

.row-74 {
  width: 74% !important; }

.row-75 {
  width: 75% !important; }

.row-76 {
  width: 76% !important; }

.row-77 {
  width: 77% !important; }

.row-78 {
  width: 78% !important; }

.row-79 {
  width: 79% !important; }

.row-80 {
  width: 80% !important; }

.row-81 {
  width: 81% !important; }

.row-82 {
  width: 82% !important; }

.row-83 {
  width: 83% !important; }

.row-84 {
  width: 84% !important; }

.row-85 {
  width: 85% !important; }

.row-86 {
  width: 86% !important; }

.row-87 {
  width: 87% !important; }

.row-88 {
  width: 88% !important; }

.row-89 {
  width: 89% !important; }

.row-90 {
  width: 90% !important; }

.row-91 {
  width: 91% !important; }

.row-92 {
  width: 92% !important; }

.row-93 {
  width: 93% !important; }

.row-94 {
  width: 94% !important; }

.row-95 {
  width: 95% !important; }

.row-96 {
  width: 96% !important; }

.row-97 {
  width: 97% !important; }

.row-98 {
  width: 98% !important; }

.row-99 {
  width: 99% !important; }

.bg-f {
  background: #fff !important; }

.bg-base {
  background: #f4f4f4 !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.p-t-50 {
  padding-top: 50px !important; }

.p-t-80 {
  padding-top: 80px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-b-50 {
  padding-bottom: 50px !important; }

.p-b-150 {
  padding-bottom: 50px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.padding-left-1 {
  padding-left: 1% !important; }

.padding-left-2 {
  padding-left: 2% !important; }

.padding-left-3 {
  padding-left: 3% !important; }

.padding-left-4 {
  padding-left: 4% !important; }

.padding-left-5 {
  padding-left: 5% !important; }

.padding-left-6 {
  padding-left: 6% !important; }

.padding-left-7 {
  padding-left: 7% !important; }

.padding-left-8 {
  padding-left: 8% !important; }

.padding-left-9 {
  padding-left: 9% !important; }

.padding-left-10 {
  padding-left: 10% !important; }

.padding-left-11 {
  padding-left: 11% !important; }

.padding-left-12 {
  padding-left: 12% !important; }

.padding-left-13 {
  padding-left: 13% !important; }

.padding-left-14 {
  padding-left: 14% !important; }

.padding-left-15 {
  padding-left: 15% !important; }

.padding-left-16 {
  padding-left: 16% !important; }

.padding-left-17 {
  padding-left: 17% !important; }

.padding-left-18 {
  padding-left: 18% !important; }

.padding-left-19 {
  padding-left: 19% !important; }

.padding-left-20 {
  padding-left: 20% !important; }

.padding-left-21 {
  padding-left: 21% !important; }

.padding-left-22 {
  padding-left: 22% !important; }

.padding-left-23 {
  padding-left: 23% !important; }

.padding-left-24 {
  padding-left: 24% !important; }

.padding-left-25 {
  padding-left: 25% !important; }

.padding-left-26 {
  padding-left: 26% !important; }

.padding-left-27 {
  padding-left: 27% !important; }

.padding-left-28 {
  padding-left: 28% !important; }

.padding-left-29 {
  padding-left: 29% !important; }

.padding-left-30 {
  padding-left: 30% !important; }

.padding-left-31 {
  padding-left: 31% !important; }

.padding-left-32 {
  padding-left: 32% !important; }

.padding-left-33 {
  padding-left: 33% !important; }

.padding-left-34 {
  padding-left: 34% !important; }

.padding-left-35 {
  padding-left: 35% !important; }

.padding-left-36 {
  padding-left: 36% !important; }

.padding-left-37 {
  padding-left: 37% !important; }

.padding-left-38 {
  padding-left: 38% !important; }

.padding-left-39 {
  padding-left: 39% !important; }

.padding-left-40 {
  padding-left: 40% !important; }

.padding-left-41 {
  padding-left: 41% !important; }

.padding-left-42 {
  padding-left: 42% !important; }

.padding-left-43 {
  padding-left: 43% !important; }

.padding-left-44 {
  padding-left: 44% !important; }

.padding-left-45 {
  padding-left: 45% !important; }

.padding-left-46 {
  padding-left: 46% !important; }

.padding-left-47 {
  padding-left: 47% !important; }

.padding-left-48 {
  padding-left: 48% !important; }

.padding-left-49 {
  padding-left: 49% !important; }

.padding-left-50 {
  padding-left: 50% !important; }

.padding-left-51 {
  padding-left: 51% !important; }

.padding-left-52 {
  padding-left: 52% !important; }

.padding-left-53 {
  padding-left: 53% !important; }

.padding-left-54 {
  padding-left: 54% !important; }

.padding-left-55 {
  padding-left: 55% !important; }

.padding-left-56 {
  padding-left: 56% !important; }

.padding-left-57 {
  padding-left: 57% !important; }

.padding-left-58 {
  padding-left: 58% !important; }

.padding-left-59 {
  padding-left: 59% !important; }

.padding-left-60 {
  padding-left: 60% !important; }

.padding-left-61 {
  padding-left: 61% !important; }

.padding-left-62 {
  padding-left: 62% !important; }

.padding-left-63 {
  padding-left: 63% !important; }

.padding-left-64 {
  padding-left: 64% !important; }

.padding-left-65 {
  padding-left: 65% !important; }

.padding-left-66 {
  padding-left: 66% !important; }

.padding-left-67 {
  padding-left: 67% !important; }

.padding-left-68 {
  padding-left: 68% !important; }

.padding-left-69 {
  padding-left: 69% !important; }

.padding-left-70 {
  padding-left: 70% !important; }

.padding-left-71 {
  padding-left: 71% !important; }

.padding-left-72 {
  padding-left: 72% !important; }

.padding-left-73 {
  padding-left: 73% !important; }

.padding-left-74 {
  padding-left: 74% !important; }

.padding-left-75 {
  padding-left: 75% !important; }

.padding-left-76 {
  padding-left: 76% !important; }

.padding-left-77 {
  padding-left: 77% !important; }

.padding-left-78 {
  padding-left: 78% !important; }

.padding-left-79 {
  padding-left: 79% !important; }

.padding-left-80 {
  padding-left: 80% !important; }

.padding-left-81 {
  padding-left: 81% !important; }

.padding-left-82 {
  padding-left: 82% !important; }

.padding-left-83 {
  padding-left: 83% !important; }

.padding-left-84 {
  padding-left: 84% !important; }

.padding-left-85 {
  padding-left: 85% !important; }

.padding-left-86 {
  padding-left: 86% !important; }

.padding-left-87 {
  padding-left: 87% !important; }

.padding-left-88 {
  padding-left: 88% !important; }

.padding-left-89 {
  padding-left: 89% !important; }

.padding-left-90 {
  padding-left: 90% !important; }

.padding-left-91 {
  padding-left: 91% !important; }

.padding-left-92 {
  padding-left: 92% !important; }

.padding-left-93 {
  padding-left: 93% !important; }

.padding-left-94 {
  padding-left: 94% !important; }

.padding-left-95 {
  padding-left: 95% !important; }

.padding-left-96 {
  padding-left: 96% !important; }

.padding-left-97 {
  padding-left: 97% !important; }

.padding-left-98 {
  padding-left: 98% !important; }

.padding-left-99 {
  padding-left: 99% !important; }

.m-t-base {
  margin-top: 10px; }

.m-t-20 {
  margin-top: 20px; }

.m-t-70 {
  margin-top: 70px; }

.m-l-130 {
  margin-left: 130px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-b-50 {
  margin-bottom: 50px; }

.bd-r-1 {
  border-right: 1px solid #999999; }

.bd-t-1 {
  border-top: 1px solid #ddd; }

.bd-b-1 {
  border-bottom: 1px solid #ddd; }

.w630 {
  width: 630px;
  margin: 0 auto; }

.h-666 {
  height: 666px; }

.control-label {
  font-size: 14px;
  padding: 8px 15px;
  line-height: 1;
  text-align: right; }

.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 1 1 2px 0 #eeeeee inset;
  -moz-box-shadow: 1 1 2px 0 #eeeeee inset;
  box-shadow: 1 1 2px 0 #eeeeee inset;
  font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .form-control.i-left {
    padding-left: 2em; }
  .form-control.i-right {
    padding-right: 2em; }

textarea.form-control {
  height: auto;
  padding: 10px; }

select.form-control {
  padding: 0 5px;
  text-align: center; }

.incon-control {
  position: absolute; }

.message-control {
  clear: both;
  height: 30px;
  line-height: 30px; }

.disabled {
  background: #eeeeee;
  border-color: #eeeeee; }

.col-1 {
  width: 1% !important; }

.col-2 {
  width: 2% !important; }

.col-3 {
  width: 3% !important; }

.col-4 {
  width: 4% !important; }

.col-5 {
  width: 5% !important; }

.col-6 {
  width: 6% !important; }

.col-7 {
  width: 7% !important; }

.col-8 {
  width: 8% !important; }

.col-9 {
  width: 9% !important; }

.col-10 {
  width: 10% !important; }

.col-11 {
  width: 11% !important; }

.col-12 {
  width: 12% !important; }

.col-13 {
  width: 13% !important; }

.col-14 {
  width: 14% !important; }

.col-15 {
  width: 15% !important; }

.col-16 {
  width: 16% !important; }

.col-17 {
  width: 17% !important; }

.col-18 {
  width: 18% !important; }

.col-19 {
  width: 19% !important; }

.col-20 {
  width: 20% !important; }

.col-21 {
  width: 21% !important; }

.col-22 {
  width: 22% !important; }

.col-23 {
  width: 23% !important; }

.col-24 {
  width: 24% !important; }

.col-25 {
  width: 25% !important; }

.col-26 {
  width: 26% !important; }

.col-27 {
  width: 27% !important; }

.col-28 {
  width: 28% !important; }

.col-29 {
  width: 29% !important; }

.col-30 {
  width: 30% !important; }

.col-31 {
  width: 31% !important; }

.col-32 {
  width: 32% !important; }

.col-33 {
  width: 33% !important; }

.col-34 {
  width: 34% !important; }

.col-35 {
  width: 35% !important; }

.col-36 {
  width: 36% !important; }

.col-37 {
  width: 37% !important; }

.col-38 {
  width: 38% !important; }

.col-39 {
  width: 39% !important; }

.col-40 {
  width: 40% !important; }

.col-41 {
  width: 41% !important; }

.col-42 {
  width: 42% !important; }

.col-43 {
  width: 43% !important; }

.col-44 {
  width: 44% !important; }

.col-45 {
  width: 45% !important; }

.col-46 {
  width: 46% !important; }

.col-47 {
  width: 47% !important; }

.col-48 {
  width: 48% !important; }

.col-49 {
  width: 49% !important; }

.col-50 {
  width: 50% !important; }

.col-51 {
  width: 51% !important; }

.col-52 {
  width: 52% !important; }

.col-53 {
  width: 53% !important; }

.col-54 {
  width: 54% !important; }

.col-55 {
  width: 55% !important; }

.col-56 {
  width: 56% !important; }

.col-57 {
  width: 57% !important; }

.col-58 {
  width: 58% !important; }

.col-59 {
  width: 59% !important; }

.col-60 {
  width: 60% !important; }

.col-61 {
  width: 61% !important; }

.col-62 {
  width: 62% !important; }

.col-63 {
  width: 63% !important; }

.col-64 {
  width: 64% !important; }

.col-65 {
  width: 65% !important; }

.col-66 {
  width: 66% !important; }

.col-67 {
  width: 67% !important; }

.col-68 {
  width: 68% !important; }

.col-69 {
  width: 69% !important; }

.col-70 {
  width: 70% !important; }

.col-71 {
  width: 71% !important; }

.col-72 {
  width: 72% !important; }

.col-73 {
  width: 73% !important; }

.col-74 {
  width: 74% !important; }

.col-75 {
  width: 75% !important; }

.col-76 {
  width: 76% !important; }

.col-77 {
  width: 77% !important; }

.col-78 {
  width: 78% !important; }

.col-79 {
  width: 79% !important; }

.col-80 {
  width: 80% !important; }

.col-81 {
  width: 81% !important; }

.col-82 {
  width: 82% !important; }

.col-83 {
  width: 83% !important; }

.col-84 {
  width: 84% !important; }

.col-85 {
  width: 85% !important; }

.col-86 {
  width: 86% !important; }

.col-87 {
  width: 87% !important; }

.col-88 {
  width: 88% !important; }

.col-89 {
  width: 89% !important; }

.col-90 {
  width: 90% !important; }

.col-91 {
  width: 91% !important; }

.col-92 {
  width: 92% !important; }

.col-93 {
  width: 93% !important; }

.col-94 {
  width: 94% !important; }

.col-95 {
  width: 95% !important; }

.col-96 {
  width: 96% !important; }

.col-97 {
  width: 97% !important; }

.col-98 {
  width: 98% !important; }

.col-99 {
  width: 99% !important; }

.ta-l {
  text-align: left; }

.ta-c {
  text-align: center; }

.hide {
  display: none; }

.gray-box-1 {
  width: 100%;
  background: #f4f4f4;
  border: 1px solid #ddd;
  line-height: 40px; }

/*# sourceMappingURL=common.css.map */
