@charset "UTF-8";
/**
 * Created by wwp9 on 2016-03-30.
 */
/*
box model;
*/
.page-head-write img {
  float: left; }

.page-head-write h1 small {
  float: right; }

/*
清浮动
*/
/*
结构颜色
*/
/*
圆角类
*/
/*
盒子类
*/
/*
排版

create by kant in 2016-3-18 04:11
*/
/*
create by kant on 2016-03-18 20:17

数据表格
*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1100px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.row-1 {
  width: 1% !important; }

.row-2 {
  width: 2% !important; }

.row-3 {
  width: 3% !important; }

.row-4 {
  width: 4% !important; }

.row-5 {
  width: 5% !important; }

.row-6 {
  width: 6% !important; }

.row-7 {
  width: 7% !important; }

.row-8 {
  width: 8% !important; }

.row-9 {
  width: 9% !important; }

.row-10 {
  width: 10% !important; }

.row-11 {
  width: 11% !important; }

.row-12 {
  width: 12% !important; }

.row-13 {
  width: 13% !important; }

.row-14 {
  width: 14% !important; }

.row-15 {
  width: 15% !important; }

.row-16 {
  width: 16% !important; }

.row-17 {
  width: 17% !important; }

.row-18 {
  width: 18% !important; }

.row-19 {
  width: 19% !important; }

.row-20 {
  width: 20% !important; }

.row-21 {
  width: 21% !important; }

.row-22 {
  width: 22% !important; }

.row-23 {
  width: 23% !important; }

.row-24 {
  width: 24% !important; }

.row-25 {
  width: 25% !important; }

.row-26 {
  width: 26% !important; }

.row-27 {
  width: 27% !important; }

.row-28 {
  width: 28% !important; }

.row-29 {
  width: 29% !important; }

.row-30 {
  width: 30% !important; }

.row-31 {
  width: 31% !important; }

.row-32 {
  width: 32% !important; }

.row-33 {
  width: 33% !important; }

.row-34 {
  width: 34% !important; }

.row-35 {
  width: 35% !important; }

.row-36 {
  width: 36% !important; }

.row-37 {
  width: 37% !important; }

.row-38 {
  width: 38% !important; }

.row-39 {
  width: 39% !important; }

.row-40 {
  width: 40% !important; }

.row-41 {
  width: 41% !important; }

.row-42 {
  width: 42% !important; }

.row-43 {
  width: 43% !important; }

.row-44 {
  width: 44% !important; }

.row-45 {
  width: 45% !important; }

.row-46 {
  width: 46% !important; }

.row-47 {
  width: 47% !important; }

.row-48 {
  width: 48% !important; }

.row-49 {
  width: 49% !important; }

.row-50 {
  width: 50% !important; }

.row-51 {
  width: 51% !important; }

.row-52 {
  width: 52% !important; }

.row-53 {
  width: 53% !important; }

.row-54 {
  width: 54% !important; }

.row-55 {
  width: 55% !important; }

.row-56 {
  width: 56% !important; }

.row-57 {
  width: 57% !important; }

.row-58 {
  width: 58% !important; }

.row-59 {
  width: 59% !important; }

.row-60 {
  width: 60% !important; }

.row-61 {
  width: 61% !important; }

.row-62 {
  width: 62% !important; }

.row-63 {
  width: 63% !important; }

.row-64 {
  width: 64% !important; }

.row-65 {
  width: 65% !important; }

.row-66 {
  width: 66% !important; }

.row-67 {
  width: 67% !important; }

.row-68 {
  width: 68% !important; }

.row-69 {
  width: 69% !important; }

.row-70 {
  width: 70% !important; }

.row-71 {
  width: 71% !important; }

.row-72 {
  width: 72% !important; }

.row-73 {
  width: 73% !important; }

.row-74 {
  width: 74% !important; }

.row-75 {
  width: 75% !important; }

.row-76 {
  width: 76% !important; }

.row-77 {
  width: 77% !important; }

.row-78 {
  width: 78% !important; }

.row-79 {
  width: 79% !important; }

.row-80 {
  width: 80% !important; }

.row-81 {
  width: 81% !important; }

.row-82 {
  width: 82% !important; }

.row-83 {
  width: 83% !important; }

.row-84 {
  width: 84% !important; }

.row-85 {
  width: 85% !important; }

.row-86 {
  width: 86% !important; }

.row-87 {
  width: 87% !important; }

.row-88 {
  width: 88% !important; }

.row-89 {
  width: 89% !important; }

.row-90 {
  width: 90% !important; }

.row-91 {
  width: 91% !important; }

.row-92 {
  width: 92% !important; }

.row-93 {
  width: 93% !important; }

.row-94 {
  width: 94% !important; }

.row-95 {
  width: 95% !important; }

.row-96 {
  width: 96% !important; }

.row-97 {
  width: 97% !important; }

.row-98 {
  width: 98% !important; }

.row-99 {
  width: 99% !important; }

/**
 * Created by wwp9 on 2016-03-30.
 */
.page-head-write {
  height: 105px; }
  .page-head-write h1 {
    font: 400 22px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 105px; }
    .page-head-write h1 small {
      margin-top: 60px;
      font-size: 14px;
      line-height: 2;
      color: #777777; }
      .page-head-write h1 small i {
        margin-right: 10px;
        font-size: 16px;
        color: #ed6d1e; }
  .page-head-write .logo {
    padding-top: 15px;
    font: 400 21px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 75px;
    color: #333333; }
    .page-head-write .logo img {
      vertical-align: middle;
      margin-top: 0; }
  .page-head-write img {
    margin: 25px 15px 0 0; }

/*# sourceMappingURL=layout.css.map */
