@charset "UTF-8";
/*
box model;
*/
.siteNav .siteNavBdR li.map .content dl, .siteNav .siteNavBdR li.map .content dl dd a, .review_search input, .review_search button, .logistics .logistics-number .logistics-number-a h1, .logistics .logistics-info ul li, .guarantee li, .guarantee li img, .footer-nav dl {
  float: left; }

.siteNav .siteNavBdR li, .siteNav .siteNavBdR li.app .content ul, .review_search, .logistics .logistics-number .logistics-number-a .logistics-number-a-botton, .logistics .logistics-number h6 a, .footer-nav dl.wechat {
  float: right; }

.logistics .logistics-number .logistics-number-a, .footer, .guarantee {
  *zoom: 1; }
  .logistics .logistics-number .logistics-number-a:after, .footer:after, .guarantee:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both; }

/*
清浮动
*/
/*
结构颜色
*/
/*
圆角类
*/
/*
盒子类
*/
/*
排版

create by kant in 2016-3-18 04:11
*/
/*
create by kant on 2016-03-18 20:17

数据表格
*/
/*
圆角类
*/
.siteNav {
  background: #fff;
  height: 30px; }
  .siteNav:before, .siteNav:after {
    content: " ";
    display: table; }
  .siteNav:after {
    clear: both; }
  .siteNav .siteNavBdR {
    line-height: 20px; }
    .siteNav .siteNavBdR li {
      position: relative;
      width: 105px;
      margin-left: -1px;
      height: 30px; }
      .siteNav .siteNavBdR li .tag {
        position: relative;
        z-index: 1;
        border-left: 1px dotted #eeeeee;
        padding: 0 10px;
        white-space: nowrap;
        margin-top: 5px;
        cursor: pointer; }
        .siteNav .siteNavBdR li .tag i {
          font-size: 14px;
          padding-right: 2px;
          color: #777777; }
          .siteNav .siteNavBdR li .tag i em {
            display: none; }
          .siteNav .siteNavBdR li .tag i.fRight {
            padding: 0;
            font-size: 12px; }
      .siteNav .siteNavBdR li .content {
        display: none;
        position: absolute;
        top: 30px;
        width: 105px;
        background: #fff;
        border: 1px solid #eeeeee;
        z-index: 1; }
        .siteNav .siteNavBdR li .content .list {
          padding: 5px 10px 10px;
          line-height: 22px; }
          .siteNav .siteNavBdR li .content .list li {
            width: 100%;
            float: none; }
      .siteNav .siteNavBdR li.map .content {
        right: 0;
        width: 1058px;
        height: 210px; }
        .siteNav .siteNavBdR li.map .content dl {
          width: 287.45455px;
          height: 190px;
          padding: 0 15px;
          margin: 10px 0;
          border-right: 1px solid #eeeeee; }
          .siteNav .siteNavBdR li.map .content dl dt {
            font: 400 16px/4 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
          .siteNav .siteNavBdR li.map .content dl dd {
            line-height: 26px; }
            .siteNav .siteNavBdR li.map .content dl dd a {
              width: 33.3%;
              padding: 0 15px; }
          .siteNav .siteNavBdR li.map .content dl.new {
            width: 192px; }
            .siteNav .siteNavBdR li.map .content dl.new dt {
              color: #ff6100; }
            .siteNav .siteNavBdR li.map .content dl.new dd a:hover {
              color: #ff6100;
              text-decoration: none; }
            .siteNav .siteNavBdR li.map .content dl.new a {
              width: 50%; }
          .siteNav .siteNavBdR li.map .content dl.hot dt {
            color: #0061c4; }
          .siteNav .siteNavBdR li.map .content dl.hot dd a:hover {
            color: #0061c4;
            text-decoration: none; }
          .siteNav .siteNavBdR li.map .content dl.more dt {
            color: #c40000; }
          .siteNav .siteNavBdR li.map .content dl.more dd a:hover {
            color: #c40000;
            text-decoration: none; }
          .siteNav .siteNavBdR li.map .content dl.help {
            border: 0; }
            .siteNav .siteNavBdR li.map .content dl.help dd a:hover {
              color: #333333; }
      .siteNav .siteNavBdR li.service .content {
        width: 160px;
        height: 100px; }
        .siteNav .siteNavBdR li.service .content p {
          padding: 3px 20px;
          line-height: 20px; }
          .siteNav .siteNavBdR li.service .content p i {
            color: #c40000;
            font-size: 18px; }
      .siteNav .siteNavBdR li.app .content {
        width: 205px;
        height: 145px;
        padding-right: 7px; }
        .siteNav .siteNavBdR li.app .content p {
          padding: 10px 7px 0 7px;
          font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .siteNav .siteNavBdR li.app .content ul {
          width: 90px; }
          .siteNav .siteNavBdR li.app .content ul li {
            width: 83px;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            background: #eeeeee;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #777777;
            cursor: pointer;
            text-align: center; }
            .siteNav .siteNavBdR li.app .content ul li i {
              font-size: 18px; }
            .siteNav .siteNavBdR li.app .content ul li.current {
              background: #ff6100;
              color: #fff; }
        .siteNav .siteNavBdR li.app .content div {
          width: 104px;
          padding: 5px; }
          .siteNav .siteNavBdR li.app .content div img {
            display: none;
            width: 104px;
            height: 104px; }
      .siteNav .siteNavBdR li.cart .tag i, .siteNav .siteNavBdR li.cart .tag cite {
        color: #c40000; }
      .siteNav .siteNavBdR li.current .tag {
        height: 30px;
        margin: 0;
        z-index: 2;
        border: 1px solid #eeeeee;
        border-bottom: 0;
        background: #fff;
        line-height: 29px;
        color: #c40000; }
        .siteNav .siteNavBdR li.current .tag i {
          color: #c40000; }
          .siteNav .siteNavBdR li.current .tag i span {
            display: none; }
          .siteNav .siteNavBdR li.current .tag i em {
            display: inline; }
  .siteNav .siteNavBdL {
    line-height: 30px; }
    .siteNav .siteNavBdL a {
      padding-left: 10px; }
      .siteNav .siteNavBdL a.sigin {
        color: #c40000; }

.siteNav2 .siteNavBdR li.map .content {
  width: 1098px; }
  .siteNav2 .siteNavBdR li.map .content dl {
    width: 298.36364px; }
    .siteNav2 .siteNavBdR li.map .content dl.new {
      width: 199.27273px; }

.review_search {
  width: 557px;
  height: 39px;
  margin-top: 10px; }
  .review_search input {
    height: 39px;
    width: 448px;
    border-left: 2px solid #f30;
    border-top: 2px solid #f30;
    border-bottom: 2px solid #f30;
    border-right: 0; }
  .review_search button {
    background: #f30;
    width: 107px;
    height: 39px;
    color: #fff;
    font-size: 18px;
    border: 0; }

.logistics {
  width: 1100px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }
  .logistics .logistics-position {
    line-height: 43px;
    padding-left: 5px;
    border-top: 1px #ff6100 solid;
    font-size: 14px;
    font-weight: normal; }
    .logistics .logistics-position em {
      color: #ff6100; }
  .logistics .logistics-number {
    height: 83px;
    border: 1px #ff6100 solid;
    background-color: #fffceb;
    padding-left: 12px;
    padding-right: 12px; }
    .logistics .logistics-number .logistics-number-a {
      height: 39px;
      border-bottom: 1px #ff6100 dashed; }
      .logistics .logistics-number .logistics-number-a .logistics-number-a-botton {
        width: 96px;
        height: 28px;
        background-color: #ffaa45;
        line-height: 28px;
        text-align: center;
        margin-top: 6px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        .logistics .logistics-number .logistics-number-a .logistics-number-a-botton a {
          color: #fff;
          font-size: 15px; }
      .logistics .logistics-number .logistics-number-a h1 {
        width: 950px;
        height: 30px;
        margin-top: 6px;
        line-height: 30px;
        font-weight: normal; }
        .logistics .logistics-number .logistics-number-a h1 strong {
          margin: 0 13px;
          font-size: 17px; }
          .logistics .logistics-number .logistics-number-a h1 strong span {
            color: #ff6100; }
        .logistics .logistics-number .logistics-number-a h1 em {
          font-size: 14px;
          color: #ff6100; }
    .logistics .logistics-number h6 {
      font-size: 14px;
      line-height: 42px;
      font-weight: normal; }
      .logistics .logistics-number h6 a {
        font-size: 12px; }
      .logistics .logistics-number h6 span {
        margin: 0 13px; }
  .logistics .logistics-info {
    border: 1px #e0e0e0 solid; }
    .logistics .logistics-info h1 {
      background-color: #f7f7f7;
      height: 39px;
      font-size: 17px;
      line-height: 39px;
      padding-left: 100px; }
    .logistics .logistics-info ul {
      width: 895px;
      height: 66px;
      margin: 61px auto 52px auto; }
      .logistics .logistics-info ul.ul-bg1 {
        background: url("/resource/images/logistic-bg1.png") 0 0 no-repeat; }
      .logistics .logistics-info ul.ul-bg2 {
        background: url("/resource/images/logistic-bg2.png") 0 0 no-repeat; }
      .logistics .logistics-info ul.ul-bg3 {
        background: url("/resource/images/logistic-bg3.png") 0 0 no-repeat; }
      .logistics .logistics-info ul.ul-bg4 {
        background: url("/resource/images/logistic-bg4.png") 0 0 no-repeat; }
      .logistics .logistics-info ul li {
        width: 222px;
        height: 46px;
        margin-top: 20px;
        line-height: 46px;
        padding-left: 70px;
        color: #777;
        font-size: 15px; }
        .logistics .logistics-info ul li span {
          color: #fff; }
    .logistics .logistics-info .logistics-info-a {
      width: 895px;
      margin: 0 auto;
      background-color: #f2f2f2;
      padding-left: 10px;
      padding-right: 10px; }
      .logistics .logistics-info .logistics-info-a h5 {
        height: 43px;
        line-height: 43px;
        border-bottom: 1px #d2d2d2 dashed;
        padding-left: 43px; }
      .logistics .logistics-info .logistics-info-a table {
        width: 805px;
        margin: 20px auto; }
        .logistics .logistics-info .logistics-info-a table td {
          line-height: 30px;
          font-size: 13px;
          vertical-align: top; }
      .logistics .logistics-info .logistics-info-a h6 {
        height: 30px;
        line-height: 30px;
        border-top: 1px #d2d2d2 dashed;
        text-align: right;
        padding-right: 10px;
        font-weight: normal;
        color: #7f7f7f; }
    .logistics .logistics-info .logistics-info-b {
      width: 895px;
      margin: 20px auto 0 auto;
      background-color: #f2f2f2;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px; }
      .logistics .logistics-info .logistics-info-b h5 {
        height: 43px;
        line-height: 43px;
        border-bottom: 1px #d2d2d2 dashed;
        padding-left: 43px; }
      .logistics .logistics-info .logistics-info-b table {
        width: 805px;
        margin: 20px auto 0 auto; }
        .logistics .logistics-info .logistics-info-b table td {
          line-height: 30px;
          font-size: 13px; }

.footer {
  padding: 1em;
  text-align: center;
  font: 400 12px/3 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .footer .links {
    font-size: 14px;
    color: #999999; }
    .footer .links a {
      padding: 0 15px; }
  .footer .endorsement img {
    margin: 10px; }

.guarantee {
  margin: 50px auto 20px;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 140%; }
  .guarantee li {
    width: 274px;
    border-right: 1px solid #cccccc;
    line-height: 25px;
    padding: 15px 0; }
    .guarantee li img {
      width: 50px;
      height: 50px;
      margin: 0 20px 0 50px; }
    .guarantee li p {
      font-size: 90%;
      color: #777777; }
    .guarantee li.last {
      border: 0; }

.footer-nav {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e5e5e5;
  padding: 15px 0; }
  .footer-nav:before, .footer-nav:after {
    content: " ";
    display: table; }
  .footer-nav:after {
    clear: both; }
  .footer-nav dl {
    padding-right: 30px;
    color: #555555; }
    .footer-nav dl dt {
      font-size: 18px;
      line-height: 3; }
      .footer-nav dl dt i {
        margin-right: 10px; }
    .footer-nav dl dd {
      padding-left: 30px;
      font-size: 13px;
      line-height: 2;
      padding-bottom: 15px; }
      .footer-nav dl dd a {
        display: block;
        color: #555555; }
        .footer-nav dl dd a:hover {
          color: #ff6100;
          text-decoration: none; }
    .footer-nav dl.wechat {
      text-align: center; }
      .footer-nav dl.wechat dd {
        padding: 0; }

/*# sourceMappingURL=logistics.css.map */
