@charset "UTF-8";
/*
box model;
*/
.siteNav .siteNavBdR li.map .content dl, .siteNav .siteNavBdR li.map .content dl dd a, .page-header-write img, .login-adlink, .sigin-succeed .reward li, .sigin-succeed .reward li img, .goodListA ul li, .guarantee li, .guarantee li img, .footer-nav dl {
  float: left; }

.siteNav .siteNavBdR li, .siteNav .siteNavBdR li.app .content ul, .succeed-page-header .btn-Ribbon, .succeed-page-header .btn-Ribbon a, .succeed-page-header .search-Ribbon, .succeed-page-header .search-Ribbon button, .succeed-page-header .nav-Ribbon, .page-header-write h1 small, .pageInfo small, .sigin-poster, .login-layout, .login-layout .login-main fieldset .trendsPW button, .login-layout .login-main fieldset .assist span, .goodListA .title span, .footer-nav dl.wechat {
  float: right; }

.footer, .guarantee {
  *zoom: 1; }
  .footer:after, .guarantee:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both; }

.succeed-page-header .nav-Ribbon a, .form-wrap .formSection label, .form-wrap .formSection .input-text, .form-wrap .formSection .input-CAPTCHA, .form-wrap .formSection .input-contxt, .form-wrap .formSection .cut, .goodListA .title cite {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
清浮动
*/
/*
结构颜色
*/
/*
圆角类
*/
/*
盒子类
*/
/*
排版

create by kant in 2016-3-18 04:11
*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1100px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.row-1 {
  width: 1% !important; }

.row-2 {
  width: 2% !important; }

.row-3 {
  width: 3% !important; }

.row-4 {
  width: 4% !important; }

.row-5 {
  width: 5% !important; }

.row-6 {
  width: 6% !important; }

.row-7 {
  width: 7% !important; }

.row-8 {
  width: 8% !important; }

.row-9 {
  width: 9% !important; }

.row-10 {
  width: 10% !important; }

.row-11 {
  width: 11% !important; }

.row-12 {
  width: 12% !important; }

.row-13 {
  width: 13% !important; }

.row-14 {
  width: 14% !important; }

.row-15 {
  width: 15% !important; }

.row-16 {
  width: 16% !important; }

.row-17 {
  width: 17% !important; }

.row-18 {
  width: 18% !important; }

.row-19 {
  width: 19% !important; }

.row-20 {
  width: 20% !important; }

.row-21 {
  width: 21% !important; }

.row-22 {
  width: 22% !important; }

.row-23 {
  width: 23% !important; }

.row-24 {
  width: 24% !important; }

.row-25 {
  width: 25% !important; }

.row-26 {
  width: 26% !important; }

.row-27 {
  width: 27% !important; }

.row-28 {
  width: 28% !important; }

.row-29 {
  width: 29% !important; }

.row-30 {
  width: 30% !important; }

.row-31 {
  width: 31% !important; }

.row-32 {
  width: 32% !important; }

.row-33 {
  width: 33% !important; }

.row-34 {
  width: 34% !important; }

.row-35 {
  width: 35% !important; }

.row-36 {
  width: 36% !important; }

.row-37 {
  width: 37% !important; }

.row-38 {
  width: 38% !important; }

.row-39 {
  width: 39% !important; }

.row-40 {
  width: 40% !important; }

.row-41 {
  width: 41% !important; }

.row-42 {
  width: 42% !important; }

.row-43 {
  width: 43% !important; }

.row-44 {
  width: 44% !important; }

.row-45 {
  width: 45% !important; }

.row-46 {
  width: 46% !important; }

.row-47 {
  width: 47% !important; }

.row-48 {
  width: 48% !important; }

.row-49 {
  width: 49% !important; }

.row-50 {
  width: 50% !important; }

.row-51 {
  width: 51% !important; }

.row-52 {
  width: 52% !important; }

.row-53 {
  width: 53% !important; }

.row-54 {
  width: 54% !important; }

.row-55 {
  width: 55% !important; }

.row-56 {
  width: 56% !important; }

.row-57 {
  width: 57% !important; }

.row-58 {
  width: 58% !important; }

.row-59 {
  width: 59% !important; }

.row-60 {
  width: 60% !important; }

.row-61 {
  width: 61% !important; }

.row-62 {
  width: 62% !important; }

.row-63 {
  width: 63% !important; }

.row-64 {
  width: 64% !important; }

.row-65 {
  width: 65% !important; }

.row-66 {
  width: 66% !important; }

.row-67 {
  width: 67% !important; }

.row-68 {
  width: 68% !important; }

.row-69 {
  width: 69% !important; }

.row-70 {
  width: 70% !important; }

.row-71 {
  width: 71% !important; }

.row-72 {
  width: 72% !important; }

.row-73 {
  width: 73% !important; }

.row-74 {
  width: 74% !important; }

.row-75 {
  width: 75% !important; }

.row-76 {
  width: 76% !important; }

.row-77 {
  width: 77% !important; }

.row-78 {
  width: 78% !important; }

.row-79 {
  width: 79% !important; }

.row-80 {
  width: 80% !important; }

.row-81 {
  width: 81% !important; }

.row-82 {
  width: 82% !important; }

.row-83 {
  width: 83% !important; }

.row-84 {
  width: 84% !important; }

.row-85 {
  width: 85% !important; }

.row-86 {
  width: 86% !important; }

.row-87 {
  width: 87% !important; }

.row-88 {
  width: 88% !important; }

.row-89 {
  width: 89% !important; }

.row-90 {
  width: 90% !important; }

.row-91 {
  width: 91% !important; }

.row-92 {
  width: 92% !important; }

.row-93 {
  width: 93% !important; }

.row-94 {
  width: 94% !important; }

.row-95 {
  width: 95% !important; }

.row-96 {
  width: 96% !important; }

.row-97 {
  width: 97% !important; }

.row-98 {
  width: 98% !important; }

.row-99 {
  width: 99% !important; }

.siteNav {
  background: #fff;
  height: 30px; }
  .siteNav:before, .siteNav:after {
    content: " ";
    display: table; }
  .siteNav:after {
    clear: both; }
  .siteNav .siteNavBdR {
    line-height: 20px; }
    .siteNav .siteNavBdR li {
      position: relative;
      width: 105px;
      margin-left: -1px;
      height: 30px; }
      .siteNav .siteNavBdR li .tag {
        position: relative;
        z-index: 1;
        border-left: 1px dotted #eeeeee;
        padding: 0 10px;
        white-space: nowrap;
        margin-top: 5px;
        cursor: pointer; }
        .siteNav .siteNavBdR li .tag i {
          font-size: 14px;
          padding-right: 2px;
          color: #777777; }
          .siteNav .siteNavBdR li .tag i em {
            display: none; }
          .siteNav .siteNavBdR li .tag i.fRight {
            padding: 0;
            font-size: 12px; }
      .siteNav .siteNavBdR li .content {
        display: none;
        position: absolute;
        top: 30px;
        width: 105px;
        background: #fff;
        border: 1px solid #eeeeee;
        z-index: 1; }
        .siteNav .siteNavBdR li .content .list {
          padding: 5px 10px 10px;
          line-height: 22px; }
          .siteNav .siteNavBdR li .content .list li {
            width: 100%;
            float: none; }
      .siteNav .siteNavBdR li.map .content {
        right: 0;
        width: 1058px;
        height: 210px; }
        .siteNav .siteNavBdR li.map .content dl {
          width: 287.45455px;
          height: 190px;
          padding: 0 15px;
          margin: 10px 0;
          border-right: 1px solid #eeeeee; }
          .siteNav .siteNavBdR li.map .content dl dt {
            font: 400 16px/4 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
          .siteNav .siteNavBdR li.map .content dl dd {
            line-height: 26px; }
            .siteNav .siteNavBdR li.map .content dl dd a {
              width: 33.3%;
              padding: 0 15px; }
          .siteNav .siteNavBdR li.map .content dl.new {
            width: 192px; }
            .siteNav .siteNavBdR li.map .content dl.new dt {
              color: #ff6100; }
            .siteNav .siteNavBdR li.map .content dl.new dd a:hover {
              color: #ff6100;
              text-decoration: none; }
            .siteNav .siteNavBdR li.map .content dl.new a {
              width: 50%; }
          .siteNav .siteNavBdR li.map .content dl.hot dt {
            color: #0061c4; }
          .siteNav .siteNavBdR li.map .content dl.hot dd a:hover {
            color: #0061c4;
            text-decoration: none; }
          .siteNav .siteNavBdR li.map .content dl.more dt {
            color: #c40000; }
          .siteNav .siteNavBdR li.map .content dl.more dd a:hover {
            color: #c40000;
            text-decoration: none; }
          .siteNav .siteNavBdR li.map .content dl.help {
            border: 0; }
            .siteNav .siteNavBdR li.map .content dl.help dd a:hover {
              color: #333333; }
      .siteNav .siteNavBdR li.service .content {
        width: 160px;
        height: 100px; }
        .siteNav .siteNavBdR li.service .content p {
          padding: 3px 20px;
          line-height: 20px; }
          .siteNav .siteNavBdR li.service .content p i {
            color: #c40000;
            font-size: 18px; }
      .siteNav .siteNavBdR li.app .content {
        width: 205px;
        height: 145px;
        padding-right: 7px; }
        .siteNav .siteNavBdR li.app .content p {
          padding: 10px 7px 0 7px;
          font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .siteNav .siteNavBdR li.app .content ul {
          width: 90px; }
          .siteNav .siteNavBdR li.app .content ul li {
            width: 83px;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            background: #eeeeee;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #777777;
            cursor: pointer;
            text-align: center; }
            .siteNav .siteNavBdR li.app .content ul li i {
              font-size: 18px; }
            .siteNav .siteNavBdR li.app .content ul li.current {
              background: #ff6100;
              color: #fff; }
        .siteNav .siteNavBdR li.app .content div {
          width: 104px;
          padding: 5px; }
          .siteNav .siteNavBdR li.app .content div img {
            display: none;
            width: 104px;
            height: 104px; }
      .siteNav .siteNavBdR li.cart .tag i, .siteNav .siteNavBdR li.cart .tag cite {
        color: #c40000; }
      .siteNav .siteNavBdR li.current .tag {
        height: 30px;
        margin: 0;
        z-index: 2;
        border: 1px solid #eeeeee;
        border-bottom: 0;
        background: #fff;
        line-height: 29px;
        color: #c40000; }
        .siteNav .siteNavBdR li.current .tag i {
          color: #c40000; }
          .siteNav .siteNavBdR li.current .tag i span {
            display: none; }
          .siteNav .siteNavBdR li.current .tag i em {
            display: inline; }
  .siteNav .siteNavBdL {
    line-height: 30px; }
    .siteNav .siteNavBdL a {
      padding-left: 10px; }
      .siteNav .siteNavBdL a.sigin {
        color: #c40000; }

.siteNav2 .siteNavBdR li.map .content {
  width: 1098px; }
  .siteNav2 .siteNavBdR li.map .content dl {
    width: 298.36364px; }
    .siteNav2 .siteNavBdR li.map .content dl.new {
      width: 199.27273px; }

.succeed-page-header {
  height: 80px;
  background: #2BB7A9; }
  .succeed-page-header .btn-Ribbon {
    width: 160px;
    margin-top: 20px; }
    .succeed-page-header .btn-Ribbon a {
      width: 150px;
      font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 34px;
      background: #fff;
      text-align: center;
      color: #777777; }
  .succeed-page-header .search-Ribbon {
    margin-top: 20px;
    width: 280px;
    background: #fff;
    height: 36px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 1px 1px 2px 0 #cccccc inset;
    -moz-box-shadow: 1px 1px 2px 0 #cccccc inset;
    box-shadow: 1px 1px 2px 0 #cccccc inset;
    font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .succeed-page-header .search-Ribbon input {
      width: 190px;
      border: 0;
      font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      outline: none;
      line-height: 36px;
      height: 36px;
      padding-left: 10px;
      background: none; }
    .succeed-page-header .search-Ribbon button {
      width: 70px;
      height: 36px;
      border: 0;
      background: #eeeeee;
      color: #777777;
      font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .succeed-page-header .nav-Ribbon {
    padding-right: 10px; }
    .succeed-page-header .nav-Ribbon a {
      font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #fff;
      padding: 0 30px;
      line-height: 80px; }
      .succeed-page-header .nav-Ribbon a:hover {
        background: #28D3C2;
        text-decoration: none; }
      .succeed-page-header .nav-Ribbon a i {
        line-height: 78px; }
  .succeed-page-header .logo {
    padding-top: 15px;
    font: 400 18px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 50px;
    color: #fff; }
    .succeed-page-header .logo img {
      vertical-align: middle; }

.page-header-write {
  height: 105px; }
  .page-header-write h1 {
    font: 400 22px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 105px; }
    .page-header-write h1 small {
      margin-top: 60px;
      font-size: 14px;
      line-height: 2;
      color: #777777; }
      .page-header-write h1 small i {
        margin-right: 10px;
        font-size: 16px;
        color: #ed6d1e; }
  .page-header-write .logo {
    padding-top: 15px;
    font: 400 21px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 75px;
    color: #333333; }
    .page-header-write .logo img {
      vertical-align: middle;
      margin-top: 0; }
  .page-header-write img {
    margin: 25px 15px 0 0; }
  .page-header-write:before, .page-header-write:after {
    content: " ";
    display: table; }
  .page-header-write:after {
    clear: both; }

.pageInfo {
  line-height: 40px;
  color: #777777; }
  .pageInfo h2 {
    font: 400 18px/40px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .pageInfo small a {
    color: #ff6100;
    padding-left: 10px; }

.sigin-form {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1100px;
  border: 1px solid #e5e5e5; }
  .sigin-form:before, .sigin-form:after {
    content: " ";
    display: table; }
  .sigin-form:after {
    clear: both; }

.sigin-poster {
  width: 500px;
  height: 550px; }
  .sigin-poster img {
    display: block;
    width: 500px;
    height: 550px; }

.form-wrap {
  width: 550px;
  padding-top: 15px; }
  .form-wrap .formSection {
    font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .form-wrap .formSection label {
      line-height: 35px;
      width: 25%;
      text-align: right;
      height: 35px;
      color: #777777;
      vertical-align: middle; }
    .form-wrap .formSection .input-text, .form-wrap .formSection .input-CAPTCHA {
      position: relative;
      height: 35px;
      border: 1px solid #999999;
      vertical-align: middle;
      overflow: hidden; }
      .form-wrap .formSection .input-text input, .form-wrap .formSection .input-CAPTCHA input {
        display: block;
        width: 100%;
        height: 33px;
        padding: 0 2em 0 0.5em;
        border: none;
        outline: none;
        color: #777777;
        font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 33px; }
    .form-wrap .formSection .input-text {
      width: 50%; }
      .form-wrap .formSection .input-text i {
        position: absolute;
        right: 5px;
        top: 4px;
        font-size: 18px;
        color: #999999; }
    .form-wrap .formSection .input-CAPTCHA {
      width: 24%; }
      .form-wrap .formSection .input-CAPTCHA input {
        padding: 0 0.5em; }
    .form-wrap .formSection .input-contxt {
      position: relative;
      width: 240px;
      height: 33px;
      vertical-align: middle;
      overflow: hidden; }
      .form-wrap .formSection .input-contxt input {
        font-size: 16px;
        line-height: 34px;
        font-weight: bold;
        color: #727272;
        border: none; }
    .form-wrap .formSection .message {
      height: 30px;
      line-height: 30px;
      padding-left: 25%;
      font-size: 12px;
      color: #999999; }
    .form-wrap .formSection.error .input-text {
      border-color: #c40000; }
    .form-wrap .formSection.error .message {
      color: #c40000; }
    .form-wrap .formSection.succeed .input-text {
      border-color: #3cb00a; }
      .form-wrap .formSection.succeed .input-text i {
        color: #3cb00a; }
    .form-wrap .formSection.succeed .message {
      color: #3cb00a; }
    .form-wrap .formSection.activate .input-text {
      border-color: #ed6d1e; }
    .form-wrap .formSection.activate .message {
      color: #ed6d1e; }
    .form-wrap .formSection .cut {
      padding-left: 10px;
      font-size: 12px;
      cursor: pointer;
      color: #777777;
      vertical-align: middle; }
      .form-wrap .formSection .cut strong, .form-wrap .formSection .cut em {
        padding-left: 5px;
        color: #ff6100; }
    .form-wrap .formSection .CAPTCHAImg {
      vertical-align: middle; }
    .form-wrap .formSection button {
      width: 24%;
      height: 33px;
      margin-left: 5px;
      background: url(/resource/images/btn-gray-shade.jpg) 0 bottom repeat-x;
      border: 1px solid #999999;
      font: 400 12px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #777777; }
    .form-wrap .formSection.email, .form-wrap .formSection.mail {
      display: none; }
  .form-wrap .protocol {
    padding: 18px 0 0 140px; }
    .form-wrap .protocol label {
      display: inline;
      width: auto; }
    .form-wrap .protocol input {
      margin-right: 10px; }
  .form-wrap .sigin {
    padding: 18px 0 0 142px; }
    .form-wrap .sigin button {
      width: 240px;
      height: 35px;
      background: #ff6100;
      border: none;
      font: 400 16px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }

.top {
  background: #fff;
  /*top背景白色*/ }

.Research {
  clear: both;
  text-align: right;
  font: 400 14px/3 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777; }
  .Research i {
    font-size: 16px;
    color: #ff6100;
    padding-right: 5px; }

.loginMain {
  width: 100%;
  height: 600px;
  background: url(http://static.33m.com/MSC/resource/images/ceshi.jpg) no-repeat; }

.login-adlink {
  width: 480px;
  height: 400px;
  /*background: #ff2d2d;*/
  margin-top: 100px;
  margin-left: 100px; }
  .login-adlink a {
    color: #fff;
    font-size: 80px;
    text-align: center; }

.sigin-succeed {
  background: #fff;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .sigin-succeed h1 {
    padding-top: 30px;
    color: #EC6D1E;
    line-height: 2; }
  .sigin-succeed p {
    font-size: 14px;
    color: #777777; }
  .sigin-succeed .reward {
    padding: 50px 0;
    height: 180px; }
    .sigin-succeed .reward li {
      width: 49%; }
      .sigin-succeed .reward li img {
        margin: -25px 0 -25px 50px; }
      .sigin-succeed .reward li h2 {
        margin-left: 250px;
        font-size: 18px;
        color: #ff6100;
        font-weight: 400; }
      .sigin-succeed .reward li p {
        margin-left: 250px;
        color: #333333; }
        .sigin-succeed .reward li p em {
          color: #ff6100; }
  .sigin-succeed .btn-main {
    clear: both;
    text-align: center; }
    .sigin-succeed .btn-main button {
      width: 130px;
      height: 38px;
      font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      border: 0;
      color: #fff;
      background: #999999;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      .sigin-succeed .btn-main button.available {
        background: #ed6d1e; }
  .sigin-succeed .succeed-message {
    padding: 50px 0; }
    .sigin-succeed .succeed-message h3 {
      font: 400 14px/3 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #777777; }
    .sigin-succeed .succeed-message p {
      line-height: 2; }
      .sigin-succeed .succeed-message p em {
        color: #ff6100; }

/*
create by kant on 2016-3-12 21:04:40.93
*/
.login-layout {
  width: 350px;
  height: 350px;
  background: #fff;
  margin-top: 125px;
  position: relative; }
  .login-layout .cut-pc-app {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }
    .login-layout .cut-pc-app .icon-1, .login-layout .cut-pc-app .icon-2 {
      width: 60px;
      height: 65px; }
      .login-layout .cut-pc-app .icon-1 img, .login-layout .cut-pc-app .icon-2 img {
        float: right; }
    .login-layout .cut-pc-app .icon-2 {
      display: none; }
    .login-layout .cut-pc-app .icon-1 span {
      position: absolute;
      display: none;
      width: 122px;
      height: 17px;
      right: 50px;
      top: 27px;
      background: url("/resource/images/login-cut-info.png") no-repeat 0 0; }
  .login-layout .login-main {
    padding: 15px 25px;
    font-size: 14px;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .login-layout .login-main h2 {
      font: 400 20px/2 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #ed6d1e; }
    .login-layout .login-main fieldset {
      border: 0;
      padding: 0; }
      .login-layout .login-main fieldset .input-text {
        position: relative;
        height: 36px;
        border: 1px solid #cccccc; }
        .login-layout .login-main fieldset .input-text i {
          position: absolute;
          left: 10px;
          top: 2px;
          font-size: 20px;
          color: #777777; }
        .login-layout .login-main fieldset .input-text input {
          width: 100%;
          border: 0;
          height: 34px;
          line-height: 36px;
          outline: none;
          padding: 0 10px 0 40px;
          color: #777777; }
      .login-layout .login-main fieldset .message {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: #999999; }
      .login-layout .login-main fieldset .activate .input-text {
        border-color: #f90;
        -webkit-box-shadow: 0 0 2px 0 #f90;
        -moz-box-shadow: 0 0 2px 0 #f90;
        box-shadow: 0 0 2px 0 #f90;
        font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .login-layout .login-main fieldset .activate .message {
        color: #999999; }
      .login-layout .login-main fieldset .succeed .input-text {
        border-color: #3cb00a;
        -webkit-box-shadow: 0 0 2px 0 #3cb00a;
        -moz-box-shadow: 0 0 2px 0 #3cb00a;
        box-shadow: 0 0 2px 0 #3cb00a;
        font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .login-layout .login-main fieldset .succeed .message {
        color: #3cb00a; }
      .login-layout .login-main fieldset .error .input-text {
        border-color: #ff3535;
        -webkit-box-shadow: 0 0 2px 0 #ff3535;
        -moz-box-shadow: 0 0 2px 0 #ff3535;
        box-shadow: 0 0 2px 0 #ff3535;
        font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .login-layout .login-main fieldset .error .message {
        color: #ff3535; }
      .login-layout .login-main fieldset .password {
        display: none; }
      .login-layout .login-main fieldset .trendsPW .input-text {
        width: 150px; }
      .login-layout .login-main fieldset .trendsPW button {
        height: 36px;
        border: 1px solid #cccccc;
        background: #eeeeee;
        width: 135px;
        font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #777777;
        font-weight: 700; }
      .login-layout .login-main fieldset .proving {
        display: none;
        padding-top: 5px; }
        .login-layout .login-main fieldset .proving label {
          color: #333333; }
        .login-layout .login-main fieldset .proving .provingContent {
          height: 44px; }
      .login-layout .login-main fieldset .assist {
        line-height: 2.5;
        font-size: 12px;
        color: #555555; }
        .login-layout .login-main fieldset .assist input {
          margin-right: 5px;
          vertical-align: middle;
          line-height: 1; }
      .login-layout .login-main fieldset .btn-button {
        padding: 10px 0; }
        .login-layout .login-main fieldset .btn-button button {
          width: 100%;
          height: 40px;
          border: 0;
          background: #ed6d1e;
          font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: #fff;
          font-size: 16px; }
    .login-layout .login-main .cut-p-m {
      line-height: 2;
      padding-bottom: 10px; }
      .login-layout .login-main .cut-p-m input {
        margin-right: 5px; }
      .login-layout .login-main .cut-p-m label {
        margin-right: 15px;
        color: #777777; }
    .login-layout .login-main .app {
      display: none; }
      .login-layout .login-main .app p {
        line-height: 2;
        color: #686868; }
      .login-layout .login-main .app .code {
        text-align: center;
        padding: 30px 0 10px; }
        .login-layout .login-main .app .code img {
          border: 1px solid #cccccc; }
      .login-layout .login-main .app .message {
        margin: 0 45px 30px;
        color: #999999; }
        .login-layout .login-main .app .message strong {
          display: block; }
    .login-layout .login-main .info {
      font-size: 12px;
      color: #777777; }
      .login-layout .login-main .info em {
        color: #ed6d1e; }

.login-layout2 {
  height: 430px;
  margin-top: 85px; }
  .login-layout2 .login-main fieldset .proving {
    display: block; }

/*
商品列表
*/
.goodListA {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 40px 0; }
  .goodListA .title {
    margin-bottom: 15px;
    border-bottom: 1px solid #999999;
    font: 400 16px/2 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .goodListA .title span {
      font-size: 14px;
      color: #bbb; }
      .goodListA .title span i {
        margin-right: 10px; }
    .goodListA .title cite {
      font-size: 14px;
      margin-right: 20px; }
      .goodListA .title cite.current {
        border-bottom: 2px solid #f60;
        color: #f60;
        font-weight: 700; }
  .goodListA ul:before, .goodListA ul:after {
    content: " ";
    display: table; }
  .goodListA ul:after {
    clear: both; }
  .goodListA ul li {
    width: 210px;
    height: 290px;
    margin: 0 5px;
    background: #fff; }
    .goodListA ul li a .thum {
      display: block;
      height: 210px;
      overflow: hidden;
      margin-bottom: 5px; }
      .goodListA ul li a .thum img {
        display: block;
        width: 210px;
        height: 210px; }
    .goodListA ul li a p {
      padding: 5px 10px;
      height: 46px;
      line-height: 18px;
      overflow: hidden;
      color: #777777; }
    .goodListA ul li a strong {
      display: block;
      padding: 0 10px;
      color: #ff3535;
      font-weight: 400; }
    .goodListA ul li a:hover {
      text-decoration: none; }

.footer {
  padding: 1em;
  text-align: center;
  font: 400 12px/3 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .footer .links {
    font-size: 14px;
    color: #999999; }
    .footer .links a {
      padding: 0 15px; }
  .footer .endorsement img {
    margin: 10px; }

.guarantee {
  margin: 50px auto 20px;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 140%; }
  .guarantee li {
    width: 274px;
    border-right: 1px solid #cccccc;
    line-height: 25px;
    padding: 15px 0; }
    .guarantee li img {
      width: 50px;
      height: 50px;
      margin: 0 20px 0 50px; }
    .guarantee li p {
      font-size: 90%;
      color: #777777; }
    .guarantee li.last {
      border: 0; }

.footer-nav {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e5e5e5;
  padding: 15px 0; }
  .footer-nav:before, .footer-nav:after {
    content: " ";
    display: table; }
  .footer-nav:after {
    clear: both; }
  .footer-nav dl {
    padding-right: 30px;
    color: #555555; }
    .footer-nav dl dt {
      font-size: 18px;
      line-height: 3; }
      .footer-nav dl dt i {
        margin-right: 10px; }
    .footer-nav dl dd {
      padding-left: 30px;
      font-size: 13px;
      line-height: 2;
      padding-bottom: 15px; }
      .footer-nav dl dd a {
        display: block;
        color: #555555; }
        .footer-nav dl dd a:hover {
          color: #ff6100;
          text-decoration: none; }
    .footer-nav dl.wechat {
      text-align: center; }
      .footer-nav dl.wechat dd {
        padding: 0; }

/*# sourceMappingURL=login.css.map */
