@charset "UTF-8";
/**
 * Created by wwp9 on 2016-03-28.
 */
/*
box model;
*/
.shopping-cart .tbody_cart tbody td table td .num {
  margin: 0 auto; }

.siteNav .siteNavBdR li.map .content dl, .siteNav .siteNavBdR li.map .content dl dd a, .page-header img, .shopping-cart .tbody_cart tbody td table td .num i.minus, .shopping-cart .tbody_cart tbody td table td .num input, .shopping-cart .close-an-account td.resolution .resolution-content .content, .shopping-cart .close-an-account td.resolution .resolution-content i.left, .shopping-cart .close-an-account td.resolution .resolution-content dl dt, .shopping-cart .close-an-account td.resolution .resolution-content dl dt a.good-section, .shopping-cart .close-an-account td.resolution .resolution-content dl dd, .goodListA ul li, .shopping-cart-payment-order .pay-info dt, .shopping-cart-payment-order .payment-section .content li, .guarantee li, .guarantee li img, .footer-nav dl {
  float: left; }

.siteNav .siteNavBdR li, .siteNav .siteNavBdR li.app .content ul, .page-header h1 small, .page-header .step, .shopping-cart .tbody_cart tbody td table td .num i.plus, .shopping-cart .close-an-account td.resolution .resolution-content i.right, .goodListA .title span, .shopping-cart-confirm-order h1 a, .shopping-cart-confirm-order .addr li, .shopping-cart-payment-order .payment-section h2 small, .footer-nav dl.wechat {
  float: right; }

.footer, .guarantee {
  *zoom: 1; }
  .footer:after, .guarantee:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both; }

.shopping-cart .close-an-account td.resolution cite, .shopping-cart .close-an-account td.resolution .resolution-content i, .shopping-cart-payment-order .payment-section {
  cursor: pointer; }

.shopping-cart .tbody_cart tbody td table td .favorable, .shopping-cart .tbody_cart tbody td table th em, .goodListA .title cite, .shopping-cart-confirm-order .addr li .default strong, .shopping-cart-confirm-order .action-Bar a, .shopping-cart-confirm-order .total p span, .shopping-cart-payment-order .payment-section .content fieldset input {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
清浮动
*/
/*
结构颜色
*/
/*
圆角类
*/
/*
盒子类
*/
/*
商品列表
*/
/*
排版

create by kant in 2016-3-18 04:11
*/
/*
create by kant on 2016-03-18 20:17

数据表格
*/
/**
 * Created by wwp9 on 2016-03-31.
 */
.siteNav {
  background: #fff;
  height: 30px; }
  .siteNav:before, .siteNav:after {
    content: " ";
    display: table; }
  .siteNav:after {
    clear: both; }
  .siteNav .siteNavBdR {
    line-height: 20px; }
    .siteNav .siteNavBdR li {
      position: relative;
      width: 105px;
      margin-left: -1px;
      height: 30px; }
      .siteNav .siteNavBdR li .tag {
        position: relative;
        z-index: 1;
        border-left: 1px dotted #eeeeee;
        padding: 0 10px;
        white-space: nowrap;
        margin-top: 5px;
        cursor: pointer; }
        .siteNav .siteNavBdR li .tag i {
          font-size: 14px;
          padding-right: 2px;
          color: #777777; }
          .siteNav .siteNavBdR li .tag i em {
            display: none; }
          .siteNav .siteNavBdR li .tag i.fRight {
            padding: 0;
            font-size: 12px; }
      .siteNav .siteNavBdR li .content {
        display: none;
        position: absolute;
        top: 30px;
        width: 105px;
        background: #fff;
        border: 1px solid #eeeeee;
        z-index: 1; }
        .siteNav .siteNavBdR li .content .list {
          padding: 5px 10px 10px;
          line-height: 22px; }
          .siteNav .siteNavBdR li .content .list li {
            width: 100%;
            float: none; }
      .siteNav .siteNavBdR li.map .content {
        right: 0;
        width: 1058px;
        height: 210px; }
        .siteNav .siteNavBdR li.map .content dl {
          width: 287.45455px;
          height: 190px;
          padding: 0 15px;
          margin: 10px 0;
          border-right: 1px solid #eeeeee; }
          .siteNav .siteNavBdR li.map .content dl dt {
            font: 400 16px/4 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
          .siteNav .siteNavBdR li.map .content dl dd {
            line-height: 26px; }
            .siteNav .siteNavBdR li.map .content dl dd a {
              width: 33.3%;
              padding: 0 15px; }
          .siteNav .siteNavBdR li.map .content dl.new {
            width: 192px; }
            .siteNav .siteNavBdR li.map .content dl.new dt {
              color: #ff6100; }
            .siteNav .siteNavBdR li.map .content dl.new dd a:hover {
              color: #ff6100;
              text-decoration: none; }
            .siteNav .siteNavBdR li.map .content dl.new a {
              width: 50%; }
          .siteNav .siteNavBdR li.map .content dl.hot dt {
            color: #0061c4; }
          .siteNav .siteNavBdR li.map .content dl.hot dd a:hover {
            color: #0061c4;
            text-decoration: none; }
          .siteNav .siteNavBdR li.map .content dl.more dt {
            color: #c40000; }
          .siteNav .siteNavBdR li.map .content dl.more dd a:hover {
            color: #c40000;
            text-decoration: none; }
          .siteNav .siteNavBdR li.map .content dl.help {
            border: 0; }
            .siteNav .siteNavBdR li.map .content dl.help dd a:hover {
              color: #333333; }
      .siteNav .siteNavBdR li.service .content {
        width: 160px;
        height: 100px; }
        .siteNav .siteNavBdR li.service .content p {
          padding: 3px 20px;
          line-height: 20px; }
          .siteNav .siteNavBdR li.service .content p i {
            color: #c40000;
            font-size: 18px; }
      .siteNav .siteNavBdR li.app .content {
        width: 205px;
        height: 145px;
        padding-right: 7px; }
        .siteNav .siteNavBdR li.app .content p {
          padding: 10px 7px 0 7px;
          font: 400 14px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .siteNav .siteNavBdR li.app .content ul {
          width: 90px; }
          .siteNav .siteNavBdR li.app .content ul li {
            width: 83px;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
            background: #eeeeee;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #777777;
            cursor: pointer;
            text-align: center; }
            .siteNav .siteNavBdR li.app .content ul li i {
              font-size: 18px; }
            .siteNav .siteNavBdR li.app .content ul li.current {
              background: #ff6100;
              color: #fff; }
        .siteNav .siteNavBdR li.app .content div {
          width: 104px;
          padding: 5px; }
          .siteNav .siteNavBdR li.app .content div img {
            display: none;
            width: 104px;
            height: 104px; }
      .siteNav .siteNavBdR li.cart .tag i, .siteNav .siteNavBdR li.cart .tag cite {
        color: #c40000; }
      .siteNav .siteNavBdR li.current .tag {
        height: 30px;
        margin: 0;
        z-index: 2;
        border: 1px solid #eeeeee;
        border-bottom: 0;
        background: #fff;
        line-height: 29px;
        color: #c40000; }
        .siteNav .siteNavBdR li.current .tag i {
          color: #c40000; }
          .siteNav .siteNavBdR li.current .tag i span {
            display: none; }
          .siteNav .siteNavBdR li.current .tag i em {
            display: inline; }
  .siteNav .siteNavBdL {
    line-height: 30px; }
    .siteNav .siteNavBdL a {
      padding-left: 10px; }
      .siteNav .siteNavBdL a.sigin {
        color: #c40000; }

.siteNav2 .siteNavBdR li.map .content {
  width: 1098px; }
  .siteNav2 .siteNavBdR li.map .content dl {
    width: 298.36364px; }
    .siteNav2 .siteNavBdR li.map .content dl.new {
      width: 199.27273px; }

/**
 * Created by wwp9 on 2016-03-31.
 */
.table-2 {
  width: 100%;
  background: #fff; }
  .table-2 thead {
    line-height: 3; }
    .table-2 thead th {
      background: #f4f4f4;
      font-size: 14px; }
  .table-2 tbody th {
    font-weight: 400; }
  .table-2 tbody td {
    vertical-align: top; }

/**
 * Created by wwp9 on 2016-03-28.
 */
.page-header {
  height: 90px; }
  .page-header h1 {
    font: 400 22px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 90px; }
    .page-header h1 small {
      margin-top: 60px;
      font-size: 14px;
      line-height: 2;
      color: #777777; }
      .page-header h1 small i {
        margin-right: 10px;
        font-size: 16px;
        color: #ed6d1e; }
  .page-header .logo {
    padding-top: 15px;
    font: 400 21px "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 60px;
    color: #333333; }
    .page-header .logo img {
      vertical-align: middle;
      margin-top: 0; }
  .page-header img {
    margin: 25px 15px 0 0; }
  .page-header .step {
    width: 450px;
    height: 53px;
    margin-top: 20px; }
    .page-header .step.step-1 {
      background: url("/resource/images/shopping_cart_header_1.jpg") right 0 no-repeat; }

.shopping-cart {
  background: #fff; }
  .shopping-cart h1 {
    font-size: 18px;
    color: #f60;
    line-height: 40px; }
    .shopping-cart h1 small {
      font-weight: 400;
      color: #777777; }
      .shopping-cart h1 small input {
        margin-bottom: 2px;
        margin-right: 5px; }
      .shopping-cart h1 small cite {
        padding-left: 10px; }
  .shopping-cart .thead_cart {
    margin-bottom: 10px; }
    .shopping-cart .thead_cart th {
      text-align: left;
      font-weight: 400; }
  .shopping-cart .tbody_cart {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    line-height: 2; }
    .shopping-cart .tbody_cart thead {
      line-height: 2.5; }
      .shopping-cart .tbody_cart thead th {
        text-align: left;
        font-size: 100%;
        font-weight: 400; }
    .shopping-cart .tbody_cart tbody td {
      padding: 10px; }
      .shopping-cart .tbody_cart tbody td table {
        width: 100%;
        border: 1px solid #9cf775;
        color: #888;
        background: #fafff7; }
        .shopping-cart .tbody_cart tbody td table td {
          padding: 10px 0;
          text-align: center; }
          .shopping-cart .tbody_cart tbody td table td img {
            display: block;
            width: 80px;
            height: 80px; }
          .shopping-cart .tbody_cart tbody td table td del {
            color: #999999;
            font-size: 14px;
            line-height: 1.5; }
          .shopping-cart .tbody_cart tbody td table td cite {
            display: block;
            color: #555555;
            font-size: 14px;
            line-height: 1.5; }
          .shopping-cart .tbody_cart tbody td table td .favorable {
            margin-top: 5px;
            position: relative;
            width: 80px;
            height: 22px;
            line-height: 22px; }
            .shopping-cart .tbody_cart tbody td table td .favorable span {
              display: block;
              background: #ff3546;
              width: 100%;
              height: 22px;
              color: #fff; }
            .shopping-cart .tbody_cart tbody td table td .favorable i {
              position: absolute;
              display: none;
              left: 0;
              top: 23px;
              width: 100%;
              height: 5px;
              background: url("/resource/images/arrows-up-orange-1.png") center 0 no-repeat; }
            .shopping-cart .tbody_cart tbody td table td .favorable div {
              position: absolute;
              display: none;
              top: 27px;
              width: 150px;
              left: -35px;
              line-height: 1.5;
              padding: 3px 8px;
              background: #fff;
              border: 1px solid #f90;
              z-index: 99;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px; }
            .shopping-cart .tbody_cart tbody td table td .favorable:hover i {
              display: block; }
            .shopping-cart .tbody_cart tbody td table td .favorable:hover div {
              display: block;
              color: #777777; }
          .shopping-cart .tbody_cart tbody td table td .num {
            width: 80px;
            height: 26px;
            border: 1px solid #bbb; }
            .shopping-cart .tbody_cart tbody td table td .num i {
              width: 20px;
              height: 24px;
              text-align: center;
              cursor: pointer; }
            .shopping-cart .tbody_cart tbody td table td .num input {
              border: 0;
              width: 38px;
              height: 24px;
              line-height: 24px;
              border-left: 1px solid #bbb;
              border-right: 1px solid #bbb;
              text-align: center;
              outline: none; }
          .shopping-cart .tbody_cart tbody td table td strong {
            font-size: 120%;
            color: #555555; }
        .shopping-cart .tbody_cart tbody td table th {
          padding: 10px 0;
          vertical-align: top;
          text-align: left; }
          .shopping-cart .tbody_cart tbody td table th a {
            display: block; }
          .shopping-cart .tbody_cart tbody td table th p {
            line-height: 1.5;
            margin-bottom: 10px; }
          .shopping-cart .tbody_cart tbody td table th em {
            height: 24px;
            line-height: 20px;
            padding: 0 5px 4px;
            background: url("/resource/images/msg-orange-1.png") 0 0 no-repeat;
            color: #fff; }
  .shopping-cart .close-an-account {
    position: relative;
    width: 100%;
    border: 1px solid #ddd; }
    .shopping-cart .close-an-account td {
      padding: 15px 0 5px;
      vertical-align: top;
      color: #777777; }
      .shopping-cart .close-an-account td.checkbox {
        padding-left: 10px; }
        .shopping-cart .close-an-account td.checkbox input {
          vertical-align: middle;
          margin-right: 5px;
          margin-bottom: 2px; }
        .shopping-cart .close-an-account td.checkbox em {
          margin-left: 10px; }
      .shopping-cart .close-an-account td.resolution {
        padding-right: 5px; }
        .shopping-cart .close-an-account td.resolution cite {
          display: block;
          background: #6bc046;
          text-align: center;
          color: #fff; }
        .shopping-cart .close-an-account td.resolution .resolution-content {
          position: absolute;
          width: 1100px;
          left: 0;
          bottom: 60px;
          background: #fff;
          border: 1px solid #6bc046;
          display: none; }
          .shopping-cart .close-an-account td.resolution .resolution-content span.icon {
            position: absolute;
            display: block;
            width: 100%;
            height: 10px;
            left: 0;
            bottom: -11px;
            background: url("/resource/images/arrows-down-green-1.png") 480px top no-repeat; }
          .shopping-cart .close-an-account td.resolution .resolution-content .content {
            width: 1068px;
            overflow: hidden; }
          .shopping-cart .close-an-account td.resolution .resolution-content i {
            display: block;
            width: 15px;
            height: 100%;
            top: 0;
            line-height: 100px;
            text-align: center; }
          .shopping-cart .close-an-account td.resolution .resolution-content dl {
            width: 1000000px; }
            .shopping-cart .close-an-account td.resolution .resolution-content dl dt {
              padding: 10px 0; }
              .shopping-cart .close-an-account td.resolution .resolution-content dl dt a.good-section {
                margin-right: 10px;
                width: 80px;
                height: 80px;
                position: relative; }
                .shopping-cart .close-an-account td.resolution .resolution-content dl dt a.good-section img {
                  display: block;
                  width: 80px;
                  height: 80px; }
                .shopping-cart .close-an-account td.resolution .resolution-content dl dt a.good-section p {
                  position: absolute;
                  width: 100%;
                  left: 0;
                  bottom: 0;
                  height: 20px;
                  line-height: 20px;
                  background: #000;
                  opacity: 0.5;
                  color: #fff;
                  text-align: center; }
            .shopping-cart .close-an-account td.resolution .resolution-content dl dd {
              margin-top: 10px;
              width: 80px;
              text-align: center;
              line-height: 1.8;
              margin-right: 10px;
              padding-right: 10px;
              border-right: 1px solid #999999; }
              .shopping-cart .close-an-account td.resolution .resolution-content dl dd em {
                color: #ff2b2b;
                font-weight: 700; }
              .shopping-cart .close-an-account td.resolution .resolution-content dl dd strong {
                display: block;
                color: #ff2b2b;
                font-size: 140%; }
              .shopping-cart .close-an-account td.resolution .resolution-content dl dd button {
                width: 100%;
                height: 30px;
                background: #ff4f60 url("/resource/images/btn-red-1.jpg") 0 bottom repeat-x;
                border: 0;
                font-size: 14px;
                color: #fff; }
      .shopping-cart .close-an-account td.opt-for em {
        color: #ff2b2b;
        font-weight: 700;
        font-size: 14px;
        padding: 0 3px; }
      .shopping-cart .close-an-account td.price {
        text-align: center; }
        .shopping-cart .close-an-account td.price p strong {
          font-size: 140%;
          color: #ff2b2b; }
      .shopping-cart .close-an-account td.affirm {
        padding: 1px; }
        .shopping-cart .close-an-account td.affirm button {
          width: 100%;
          border: 0;
          height: 100%;
          color: #fff;
          background: #ff4f60 url("/resource/images/btn-red-1.jpg") 0 bottom repeat-x;
          font-size: 170%; }

.goodListA {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 40px 0; }
  .goodListA .title {
    margin-bottom: 15px;
    border-bottom: 1px solid #999999;
    font: 400 16px/2 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .goodListA .title span {
      font-size: 14px;
      color: #bbb; }
      .goodListA .title span i {
        margin-right: 10px; }
    .goodListA .title cite {
      font-size: 14px;
      margin-right: 20px; }
      .goodListA .title cite.current {
        border-bottom: 2px solid #f60;
        color: #f60;
        font-weight: 700; }
  .goodListA ul:before, .goodListA ul:after {
    content: " ";
    display: table; }
  .goodListA ul:after {
    clear: both; }
  .goodListA ul li {
    width: 210px;
    height: 320px;
    margin: 0 5px;
    background: #fff; }
    .goodListA ul li button {
      border: 1px solid #bbb;
      width: 80px;
      background: #fff;
      margin-top: 10px;
      margin-left: 10px;
      color: #555555;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
    .goodListA ul li a .thum {
      display: block;
      height: 210px;
      overflow: hidden;
      margin-bottom: 5px; }
      .goodListA ul li a .thum img {
        display: block;
        width: 210px;
        height: 210px; }
    .goodListA ul li a p {
      padding: 5px 10px;
      height: 46px;
      line-height: 18px;
      overflow: hidden;
      color: #777777; }
    .goodListA ul li a strong {
      display: block;
      padding: 0 10px;
      color: #ff3535;
      font-weight: 400; }
    .goodListA ul li a:hover {
      text-decoration: none; }

.shopping-cart-confirm-order {
  background: #fff;
  margin: 30px 0;
  padding: 0 30px; }
  .shopping-cart-confirm-order:before, .shopping-cart-confirm-order:after {
    content: " ";
    display: table; }
  .shopping-cart-confirm-order:after {
    clear: both; }
  .shopping-cart-confirm-order h1 {
    font-size: 145%;
    line-height: 60px; }
    .shopping-cart-confirm-order h1 a {
      font-size: 12px;
      font-weight: 400;
      color: #f60; }
  .shopping-cart-confirm-order .addr {
    margin: 0 -5px; }
    .shopping-cart-confirm-order .addr:before, .shopping-cart-confirm-order .addr:after {
      content: " ";
      display: table; }
    .shopping-cart-confirm-order .addr:after {
      clear: both; }
    .shopping-cart-confirm-order .addr li {
      width: 24%;
      height: 135px;
      margin: 0 0.5% 1%;
      position: relative; }
      .shopping-cart-confirm-order .addr li .subsidiary {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
        .shopping-cart-confirm-order .addr li .subsidiary .activate {
          display: none;
          width: 100%;
          height: 100%;
          border: 1px solid #ddd;
          text-align: right;
          padding: 10px;
          color: #f60;
          border: 1px solid #f60; }
          .shopping-cart-confirm-order .addr li .subsidiary .activate a {
            color: #f60;
            padding: 0 5px; }
        .shopping-cart-confirm-order .addr li .subsidiary:hover .default {
          display: none; }
        .shopping-cart-confirm-order .addr li .subsidiary:hover .activate {
          display: block; }
      .shopping-cart-confirm-order .addr li .default {
        width: 100%;
        height: 100%;
        position: relative;
        border: 4px solid #76d14e;
        overflow: hidden;
        display: none; }
        .shopping-cart-confirm-order .addr li .default i {
          position: absolute;
          width: 60px;
          height: 60px;
          padding-top: 7px;
          padding-left: 7px;
          background: #76d14e;
          color: #fff;
          font-size: 160%;
          line-height: 1;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          border-radius: 60px;
          right: -33px;
          bottom: -33px; }
        .shopping-cart-confirm-order .addr li .default strong {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 0 10px;
          background: #76d14e;
          color: #fff; }
      .shopping-cart-confirm-order .addr li .info {
        padding: 15px;
        line-height: 2;
        width: 100%;
        height: 100%;
        border: 1px solid #ddd; }
        .shopping-cart-confirm-order .addr li .info strong {
          font-size: 14px; }
      .shopping-cart-confirm-order .addr li.current .default {
        display: block; }
  .shopping-cart-confirm-order .action-Bar {
    margin-bottom: 30px; }
    .shopping-cart-confirm-order .action-Bar a {
      width: 100px;
      height: 26px;
      line-height: 24px;
      border: 1px solid #999999;
      background: #f4f4f4;
      text-align: center;
      margin-right: 10px; }
  .shopping-cart-confirm-order .thead_cart {
    border: 0; }
    .shopping-cart-confirm-order .thead_cart th {
      font-weight: 400; }
  .shopping-cart-confirm-order .goods-info {
    border: 1px solid #eeeeee;
    width: 100%;
    margin-top: 10px; }
    .shopping-cart-confirm-order .goods-info thead th {
      text-align: left;
      font-weight: 400;
      background: #eeeeee;
      padding: 3px 10px; }
      .shopping-cart-confirm-order .goods-info thead th span {
        padding-left: 50px; }
      .shopping-cart-confirm-order .goods-info thead th a {
        padding-left: 30px; }
    .shopping-cart-confirm-order .goods-info tbody td {
      padding: 5PX;
      border-bottom: 1px solid #eeeeee; }
      .shopping-cart-confirm-order .goods-info tbody td img {
        width: 60px;
        height: 60px;
        margin: 5px; }
      .shopping-cart-confirm-order .goods-info tbody td p {
        color: #999999; }
        .shopping-cart-confirm-order .goods-info tbody td p span {
          padding-right: 10px; }
      .shopping-cart-confirm-order .goods-info tbody td input {
        height: 22px; }
      .shopping-cart-confirm-order .goods-info tbody td select {
        height: 22px; }
      .shopping-cart-confirm-order .goods-info tbody td table {
        width: 100%;
        border: none; }
        .shopping-cart-confirm-order .goods-info tbody td table td, .shopping-cart-confirm-order .goods-info tbody td table th {
          border: none;
          padding: 5px; }
        .shopping-cart-confirm-order .goods-info tbody td table th {
          text-align: right;
          padding-right: 10px; }
        .shopping-cart-confirm-order .goods-info tbody td table td input {
          width: 200px; }
        .shopping-cart-confirm-order .goods-info tbody td table td select {
          width: 200px; }
        .shopping-cart-confirm-order .goods-info tbody td table td em {
          color: #f60;
          padding: 0 10px; }
        .shopping-cart-confirm-order .goods-info tbody td table td button {
          background: #f60;
          color: #fff;
          border: 0;
          padding: 0 10px;
          line-height: 22px;
          margin-left: 10px; }
    .shopping-cart-confirm-order .goods-info tbody th {
      border-bottom: 1px solid #eeeeee;
      font-weight: 400; }
    .shopping-cart-confirm-order .goods-info tbody .message td {
      background: #ffdede;
      padding: 10px; }
      .shopping-cart-confirm-order .goods-info tbody .message td input {
        width: 60%;
        border: none;
        margin: 0 10px; }
      .shopping-cart-confirm-order .goods-info tbody .message td select {
        border: 1px solid #ddd;
        width: 12%;
        margin: 0 10px; }
    .shopping-cart-confirm-order .goods-info tbody .use-ticket td {
      color: #f60;
      line-height: 3;
      padding: 0 10px; }
      .shopping-cart-confirm-order .goods-info tbody .use-ticket td i {
        background: #f60;
        color: #fff;
        margin-right: 10px; }
  .shopping-cart-confirm-order .total {
    padding: 15px;
    line-height: 2; }
    .shopping-cart-confirm-order .total p {
      text-align: right; }
      .shopping-cart-confirm-order .total p em {
        color: #f60;
        padding: 0 5px; }
      .shopping-cart-confirm-order .total p span {
        width: 80px;
        text-align: left; }
  .shopping-cart-confirm-order .address {
    padding: 15px;
    background: #eeeeee;
    text-align: right;
    color: #777777;
    line-height: 2.2; }
  .shopping-cart-confirm-order .submit {
    color: #777777;
    line-height: 50px;
    text-align: right;
    padding: 20px 0 50px; }
    .shopping-cart-confirm-order .submit strong {
      font-size: 150%;
      color: #f60;
      margin: 0 10px; }
    .shopping-cart-confirm-order .submit button {
      width: 125px;
      height: 40px;
      background: url("/resource/images/btn-orange-shade.png") 0 bottom repeat-x;
      color: #fff;
      font-size: 140%;
      border: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-left: 20px; }
  .shopping-cart-confirm-order .add-address-wrap {
    position: absolute;
    left: 999999px; }
  .shopping-cart-confirm-order .add-address {
    font-size: 14px; }
    .shopping-cart-confirm-order .add-address h3 {
      font-size: 14px;
      padding: 20px; }
      .shopping-cart-confirm-order .add-address h3 small {
        font-weight: 400;
        padding-left: 20px;
        color: #999999; }
    .shopping-cart-confirm-order .add-address table {
      width: 90%;
      margin: 0 5%; }
      .shopping-cart-confirm-order .add-address table td {
        padding: 4px 0; }
        .shopping-cart-confirm-order .add-address table td p {
          padding: 15px 0; }
        .shopping-cart-confirm-order .add-address table td button {
          width: 150px;
          height: 38px;
          border: 1px solid #cccccc;
          font-weight: 14px;
          background: url("/resource/images/btn-gray-shade.jpg") 0 bottom repeat-x;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
        .shopping-cart-confirm-order .add-address table td label {
          padding-left: 10px;
          display: inline-block;
          vertical-align: middle; }
      .shopping-cart-confirm-order .add-address table th {
        padding: 4px 8px;
        text-align: right; }
      .shopping-cart-confirm-order .add-address table select {
        margin-right: 5px; }

.shopping-cart-payment-order {
  background: #fff;
  margin: 30px 0;
  padding: 15px 30px 50px; }
  .shopping-cart-payment-order h1 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px; }
    .shopping-cart-payment-order h1 small {
      display: block;
      font-weight: 400;
      font-size: 14px;
      color: #777777; }
  .shopping-cart-payment-order .pay-info {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 30px; }
    .shopping-cart-payment-order .pay-info:before, .shopping-cart-payment-order .pay-info:after {
      content: " ";
      display: table; }
    .shopping-cart-payment-order .pay-info:after {
      clear: both; }
    .shopping-cart-payment-order .pay-info dt {
      width: 215px;
      line-height: 80px;
      border-right: 1px solid #ddd;
      padding: 0 15px;
      margin-right: 15px; }
      .shopping-cart-payment-order .pay-info dt strong {
        font-size: 160%;
        color: #ff4545;
        padding: 0 10px; }
    .shopping-cart-payment-order .pay-info dd {
      padding: 10px;
      line-height: 2;
      font-size: 14px; }
  .shopping-cart-payment-order .payment-type {
    background: #fff9f9;
    border-top: 3px solid #f90;
    padding: 0 20px 20px; }
  .shopping-cart-payment-order .payment-section {
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 20px; }
    .shopping-cart-payment-order .payment-section h2 {
      font-size: 150%;
      padding: 20px;
      border-bottom: 1px solid #ddd;
      line-height: 34px; }
      .shopping-cart-payment-order .payment-section h2 i {
        font-weight: 400; }
      .shopping-cart-payment-order .payment-section h2 span {
        font-weight: 400; }
        .shopping-cart-payment-order .payment-section h2 span.info {
          font-size: 14px;
          padding-left: 20px; }
          .shopping-cart-payment-order .payment-section h2 span.info em, .shopping-cart-payment-order .payment-section h2 span.info strong {
            color: #f70; }
        .shopping-cart-payment-order .payment-section h2 span.Msc {
          font-size: 90%;
          background: #f90;
          color: #fff;
          padding: 0 2px; }
      .shopping-cart-payment-order .payment-section h2 small {
        color: #777777;
        font-weight: 400; }
    .shopping-cart-payment-order .payment-section .content {
      padding: 30px 50px;
      font-size: 14px; }
      .shopping-cart-payment-order .payment-section .content:before, .shopping-cart-payment-order .payment-section .content:after {
        content: " ";
        display: table; }
      .shopping-cart-payment-order .payment-section .content:after {
        clear: both; }
      .shopping-cart-payment-order .payment-section .content p {
        margin-bottom: 5px; }
        .shopping-cart-payment-order .payment-section .content p i {
          color: #3cb00a;
          margin-right: 5px;
          font-size: 110%; }
      .shopping-cart-payment-order .payment-section .content fieldset label {
        display: block;
        line-height: 3; }
      .shopping-cart-payment-order .payment-section .content fieldset input {
        margin-right: 10px; }
      .shopping-cart-payment-order .payment-section .content fieldset a {
        color: #f70; }
      .shopping-cart-payment-order .payment-section .content fieldset .message-control {
        font-size: 12px;
        color: #ff3535; }
        .shopping-cart-payment-order .payment-section .content fieldset .message-control i {
          font-size: 110%;
          margin-right: 5px; }
      .shopping-cart-payment-order .payment-section .content li {
        border: 1px solid #ddd;
        width: 16%;
        height: 38px;
        padding-left: 10px;
        margin-right: 50px;
        vertical-align: middle;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        .shopping-cart-payment-order .payment-section .content li img {
          margin-left: 10px;
          vertical-align: middle; }
    .shopping-cart-payment-order .payment-section.current {
      border: 2px solid #f90; }
      .shopping-cart-payment-order .payment-section.current h2 i {
        color: #f70; }
  .shopping-cart-payment-order .payment-submit {
    text-align: right;
    padding: 70px 0 40px; }
    .shopping-cart-payment-order .payment-submit button {
      background: url("/resource/images/btn-orange-shade.png") 0 bottom repeat-x;
      border: 0;
      height: 40px;
      width: 126px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 140%;
      color: #fff; }

.footer {
  padding: 1em;
  text-align: center;
  font: 400 12px/3 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .footer .links {
    font-size: 14px;
    color: #999999; }
    .footer .links a {
      padding: 0 15px; }
  .footer .endorsement img {
    margin: 10px; }

.guarantee {
  margin: 50px auto 20px;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 140%; }
  .guarantee li {
    width: 274px;
    border-right: 1px solid #cccccc;
    line-height: 25px;
    padding: 15px 0; }
    .guarantee li img {
      width: 50px;
      height: 50px;
      margin: 0 20px 0 50px; }
    .guarantee li p {
      font-size: 90%;
      color: #777777; }
    .guarantee li.last {
      border: 0; }

.footer-nav {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e5e5e5;
  padding: 15px 0; }
  .footer-nav:before, .footer-nav:after {
    content: " ";
    display: table; }
  .footer-nav:after {
    clear: both; }
  .footer-nav dl {
    padding-right: 30px;
    color: #555555; }
    .footer-nav dl dt {
      font-size: 18px;
      line-height: 3; }
      .footer-nav dl dt i {
        margin-right: 10px; }
    .footer-nav dl dd {
      padding-left: 30px;
      font-size: 13px;
      line-height: 2;
      padding-bottom: 15px; }
      .footer-nav dl dd a {
        display: block;
        color: #555555; }
        .footer-nav dl dd a:hover {
          color: #ff6100;
          text-decoration: none; }
    .footer-nav dl.wechat {
      text-align: center; }
      .footer-nav dl.wechat dd {
        padding: 0; }

/*# sourceMappingURL=shopping-cart.css.map */
