//float
.fLeft{
  @extend %fLeft;
}
.fRight{
  @extend %fRight;
}

//background
.bg-f{
  background: $body-bg !important;
}
.bg-base{
  background: $bodyBGC !important;
}

//padding
.p-t-10 {
  padding-top: 10px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-t-80 {
  padding-top: 80px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.p-b-150 {
  padding-bottom: 50px !important;
}
.p-l-15{
  padding-left: 15px !important;
}
@include padding-left-1-99;
//margin
.m-t-base{
  margin-top: $margin-base-vertical;
}
.m-t-20{
  margin-top: 20px;
}
.m-t-70{
  margin-top:70px;
}
.m-l-130{
  margin-left:130px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-b-30{
  margin-bottom: 30px;
}
.m-b-50{
  margin-bottom: 50px;
}


//border
.bd-r-1{
  border-right: 1px solid $gray-lighte;
}
.bd-t-1 {
  border-top: 1px solid $gray-d;
}
.bd-b-1 {
  border-bottom: 1px solid $gray-d;
}

//width
.w630 {
  width: 630px;
  margin: 0 auto; }

//height
.h-666{
  height:666px;
}


//clear
.clearfix{
  @extend %clearFix;
}


//form

@include universalFormSection;



//grid

@include grid;


//text-align

.ta-l{
  text-align: left;
}
.ta-c{
  text-align: center;
}

//visibility
.hide{
  display: none;
}



//box

.gray-box-1{
  @include gary-box(40px);
}

