.footer{
  padding: 1em;
  text-align: center;
  font:400 12px/3 $font-family-base;
  @extend %clearFix;
  .links{
    font-size:$font-size-base;
    color: $gray-lighte;
    a{padding:0 15px;}
  }
  .endorsement{
    img{
      margin: 10px;
    }
  }
}
.guarantee{
  margin: 50px auto 20px;
  @extend %clearFix;
  font-family:$font-family-base;
  font-size:140%;
  li{
    @extend %fLeft;
    width: 274px;
    border-right: 1px solid $gray-light-c;
    line-height: 25px;
    padding:$padding-large-vertical 0;
    img{
      @extend %fLeft;
      width: 50px;
      height: 50px;
      margin:0 20px 0 50px;
    }
    strong{}
    p{
      font-size:90%;
      color: $gray-light;
    }
    &.last{
      border: 0;
    }
  }
}
.footer-nav{
  @include clearfix;
  font-family: $font-family-base;
  background: $gray-light-x;
  padding:$padding-large-vertical 0;
  dl{
    @extend %fLeft;
    padding-right: 30px;
    color: $gray;
    dt{
      font-size:$font-size-large;
      line-height: 3;
      i{
        margin-right:$margin-base-horizontal;
      }
    }
    dd{
      padding-left:30px;
      font-size:13px;
      line-height: 2;
      padding-bottom:$padding-large-vertical;
      a{
        display: block;
        color: $gray;
        &:hover{
          color: $orangeBase;
          text-decoration: none;
        }
      }
    }
    &.wechat{
      @extend %fRight;
      text-align: center;
      dd{
        padding: 0;
      }
    }
  }

}