//ygst index css make in 2016-03-30 by happy
body{
  background: #fff;
  text-align: center;
}
.container{
  width:1200px;
}
.gry-bg {
  background: #eee;
}

.siteNav .siteNavBdL{
  text-align: left;
}
//head   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.head-box{
  background:#fff;
  heiht:158px;
  border-bottom:2px solid #1aa89a;
}
.head-box-logo{
  height:122px;
  float:left;
}
.head-box-search{
  float:left;
  width:556px;

}
.search-box{
  width:556px;
  border:2px solid #1aa89a;
  height:40px;
  position:relative;
  text-align: left;
  float:left;
  *height:20px;
  clear: both;
  margin-top:33px;
  input{
    width:405px;
    height:35px;
    border:0;
    outline: none;
    padding-left:30px;
    line-height: 35px;


  }
  i{
    width:17px;
    height:17px;
    display: inline-block;
    background: url("/resource/images/search-icon.png");
    position:  absolute;
    top:8px;
    left:12px;
    z-index:100;
  }
  .index-search{
    position: absolute ;
    right:0;
    background:#1aa89a;
    color:#fff;
    width:104px;
    height:37px;
    border:0;
    float:right;
    font-size:16px;
    transition:all 0.2s linear;
  }
  .index-search:hover{
    background:#339999;
  }
}
.key-words{
  float:left;
  color:#666;
  font-size: 13px;
  margin-top:6px;
  a{
    padding-right:12px;
    padding-left:10px;
    color:#666;
  }
  a:first-child{
    padding-left:0;
  }
}
.index-mark{
  float:left;
  margin-left:120px;
  margin-top:35px;
}

.all-product{
  width:190px;
  height:40px;
  background:url("/resource/images/all-product-bg.jpg") #1aa89a;
  color:#fff;
  font-size:14px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
  text-indent: 30px;
  float:left;
}
.h40{
  height:40px;
  position: relative;
}
.head-nav{
  width:780px;
  text-align: left;
  float:left;
  ul li{
    float:left;
    padding-left:34px;
    font: 400 14px/40px "microsoft yahei";
    a{
      color:#333;
    }
    a:hover{
      color:#339999;
      text-decoration: none;
      font-weight:500;
    }
    a.active{
      color:#339999;
      text-decoration: none;
      font-weight:500;
    }
  }
}
.you-top{
  width:226px;
  height:43px;
  float:right;
  position: absolute;
  bottom:3px;
  right:0;
  z-index:100;
}

//list-nav-box        >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.list-nav-box{
  height:460px;
  background:url(/resource/images/list-bg.png) top center;
  .list-nav{
    width:188px;
    height:460px;
    background:#e4eeff;
    float:left;
  }
  .lun-post{
    width:782px;
    height:458px;
    float:left;
    overflow: hidden;
  }
  .list-right{
    width:200px;
    height:458px;
    border:1px solid #ddd;
    float:left;
    .notice{
      height:215px;
      h4{
        position: relative;
        font-size: 14px;
        line-height: 28px;
        border-bottom:1px dashed #ddd;
        width:190px;
        padding:5px 5px 0;
        text-align: left;
        text-indent: 8px;
        color:#333;
        font-weight: 100;
        a{
          position: absolute;
          right:0;
          *top:4px;
          text-align: right;
          float:right;
          color:#999;
          font-size:12px;
          line-height: 34px;
        }
      }
      .notice-img{
        margin-top:5px;
      }
      p{
        width:100%;
        text-align: left;
        font:12px/24px "microsoft yahei";
        text-indent: 5px;
        color:#666;
      }
      a:hover{
        cursor: pointer;
        color:#ed6d1f;
      }
      a:hover +p{
        color:#ed6d1f;
      }
      p:hover{
        color:#ed6d1f;
        cursor: pointer;
      }
    }
  }
}

//6ads  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.advertising{
  .left-adbox{
    width:186px;
    height:150px;
    margin-top:1px;
    border:0;
    float:left;
  }
  .medi-adbox{
    width:780px;
    margin-top:1px;
    margin-left:2px;
    border:1px solid #eee;
    float:left;
    a{
      width:33%;
      display: inline-block;
      float:left;
    }

  }
  .right-adbox{
    float:right;
    width:200px;
    border:1px solid #eee;
    a{
      display: inline-block;
      float:left;
    }
    .bor-bot{
      border-bottom:1px solid #eee;
    }
  }
}
.tese-title{
  height:50px;
}
.tese-part{
  margin-top:50px;

  h3{
    position: absolute;
    margin-top: 6px;
    left: 50%;
    width: 250px;
    line-height: 20px;
    margin-left: -125px;
    text-indent: 6px;
    background: #FFF;
    color:#ff3a3a;
    font-size: 22px;
    font-style: normal;
    text-align: center;
  }
  h3::after, h3::before {
      content: ' ';
      position: absolute;
      height: 0;
      line-height: 0;
      border-top: 1px solid #e6e6e6;
      width:462px;
      top: 50%;
  }
  h3::after{left:250px;}
  h3::before{right:250px;}

}
.tese-post{
  a{
    margin-right:2px;
  }
  a.tese-last{
    margin-right:0;
  }
}