@charset "utf-8";

.member-right {

  h1 {
    font-size: 16px;
  }
}

.ordersafe-pw{
  width: 600px;
  margin-top: 50px;
  margin-left: 160px;
  .ordersafe-pw-img{
    padding-left: 20px;
    .ordersafe-pw-img-bj1{
      height: 44px;
      background: url("../images/safepsd.gif") 20px 0 no-repeat;
    }
    .ordersafe-pw-img-bj2{
      height: 44px;
      background: url("../images/safepsd.gif") 3px -44px no-repeat;
    }
    .ordersafe-pw-img-bj3{
      height: 44px;
      background: url("../images/safepsd.gif") 3px -88px no-repeat;
    }
    ul{
      @extend %clearFix;
      li{
        float: left;
        height: 32px;
        width: 86px;
        line-height: 32px;
        font-size: 14px;
        color: #b7b7b7;
        text-align: center;
        margin-right: 103px;
        span{
          color:#ed6d1e ;
        }
      }
    }

  }

  .ordersafe-pw-form{
    margin-top: 65px;

    .formSection1 {
       @include inputSection(0,19%,30%,35px,30px,30%);
       &.phone {
         margin-bottom: 14px;
         a{
           padding-left: 55px;
           color: #005ea7;
           font-weight: bolder;
         }
       }
      button{
        width: 18%;
      }
     }

    .formSection2 {
      @include inputSection(0,19%,40%);
    }

    .ordersafe-pw-sigin {
      padding-left: 94px;
      button {
        width: 120px;
        height: 40px;
        background: $orangeBase;
        border: none;
        font: 400 16px $font-family-base;
        color: $btn-success-color;
        @include border-radius(2px);
      }
    }

    .ordersafe-pw-success{
      width:430px;
      margin-left: 30px;
      font-family: "Microsoft YaHei";
      .ordersafe-pw-success-img{
        width:62px;
        height:62px;
        display: inline-block;
        background:url("/resource/images/findpsd.gif") no-repeat -16px -179px;
        margin-right:10px;
      }
      dd{
        width:340px;
        float:right;
        text-align: left;
        font-size:14px;
        line-height:32px;
        b{
          font-size:16px;
          color:#ed6d1e;
        }
        em{

          color:#aaaaaa;
        }
        a{
          color:#736b6b;
        }
        p{
          a{
            font-size:115%;
            color: $gray;
            padding-left: 20px;
          }
        }
      }
    }

  }
}





