@charset "utf-8";
/**
 * Created by wwp9 on 2016-04-02.
 */
%write-width {
  width: 442px;
  border: 1px solid $gray-light-c;
}
.review_search{
  width: 557px;
  height: 39px;
  margin-top: 10px;
  @extend %fRight;
  input{
    height: 39px;
    width: 448px;
    border-left: 2px solid $orange;
    border-top: 2px solid $orange;
    border-bottom: 2px solid $orange;
    @extend %fLeft;
    border-right: 0;
  }
  button{
    background: $orange;
    width: 107px;
    height: 39px;
    color: $write;
    font-size: $font-size-large;
    border: 0;
    @extend %fLeft;
  }
}
.pro-review{
  margin-top: 22px;
  text-align: center;
  .pro-review-mid{
    width: 968px;
    margin: 0px auto;
    padding-top: 16px;
    table {
      width: 100%;
      th.pro-info{
        background: $gray-lighter;
        border: 1px solid $gray-d;
        line-height: 2.3;
        padding-left: 20px;
        font-size: $font-size-base;
        text-align: left;
        color: $gray;
        margin-bottom: 20px;
      }
      td{

        &.left-img{
          width: 410px;
          text-align: left;
          padding-top: 20px;
          vertical-align: top;
          img{
            width: 336px;
            border: 1px solid $gray-lighter;
            padding: 2px;
          }
        }
        &.right-info{
          text-align: left;
          vertical-align: top;
          table{
            
            thead{
              th{
                font-size: $font-size-h2;
                line-height: 1.5;
                text-align: left;
                padding-top: 20px;
              }
            }
            td{
              line-height: 2.2;
              font-size: $font-size-base;
              color: $gray;
              &.pro-right-td{
                width: 92px;

              }
            }
            tfoot{
              th{
                border: 1px solid $gray-lighter;
                padding: 20px;
                vertical-align: middle;

                img{
                  @extend %fLeft;
                  margin-right: 20px;
                }
                p{
                  @extend %fLeft;
                  width: 412px;
                  font-size: $font-size-base;
                  text-align: left;
                  color: $gray;
                  font-weight: normal;
                  line-height: 2;
                }
              }
            }
          }


        }
      }
    }
    .total-review{
      border-top: 2px solid $gray-light-c;
      background: $gray-lighter;
      margin-top: 20px;
      p{
        padding-left: 20px;
        line-height: 2.5;
        font-size: $font-size-base;
        text-align: left;
        font-weight: 700;
        color: $gray;

        em{
          color: $blueBase;
          font-size: $font-size-base;
        }
      }

  }
    .buyer-impression{
      border:1px solid $gray-light-c;
      padding: 5px;
      margin-top: 5px;
      @include clearfix;
      .left{
        border-right: 1px solid $gray-light-c;
        text-align: center;
        width: 138px;
        padding-right: 5px;
        @extend %fLeft;
        em{
          color: $orange;
          &.symbol{
            line-height: 60px;
            vertical-align: bottom;
            font-size: $font-size-base;
          }
          &.num{
            font-size: 45px;
            line-height: 60px;
          }
        }
        p{
          font-size: $font-size-base;
          color: $gray;
        }
      }
      .right{
        @extend %fRight;
        width: 810px;
        padding: 0px 30px 0px 0px;
        text-align: left;
        td{
          &.impre-buyer{
            width: 89px;
            text-align: right;
        }
          p{
            font-size: $font-size-base;
            color: $gray;

          }
          span{
            display:inline-block;
            background: #f2e7e0;
            font-size: $font-size-base;
            padding: 0px 10px;
            margin: 5px 10px;
          }
        }
      }
    }
    .graybg{
      @include box-shadow($gray);
      background: $gray-lighter;
      padding: 52px 20px 20px 20px;
      margin-top: 30px;
      position: relative;
      .impre-notice{
        position: absolute;
        background: url(../images/impre-success.png) no-repeat center top;
        width: 925px;
        height: 53px;
        text-align: center;
        font-size: $font-size-h2;
        color: $gray;
        line-height: 52px;
        top: -11px;
      }
      table{
        td{
          //width: 50%;
          &.left-border{
            border-right: 1px solid $gray-light-c;
            p{
              margin-top: 26px;
              font-size: $font-size-small;
              color: $gray;
            }
          }
          &.right-border{
            table.impre-heart{
              text-align: left;
              td{
                height: 56px;
                vertical-align: middle;
                position: relative;
                img{
                  margin: 0 2px;
                }
                .alert_win {
                  background: url(../images/impre-alert-win.png) no-repeat center center;
                  height: 70px;
                  padding: 10px 4px 0 4px;
                  top: 40px;
                  z-index:9;
                  width: 200px;
                  position: absolute;
                  left: -5px;
                  em{
                    color: $orange;
                    padding-right: 5px;
                    margin-top: 20px;
                    font-size: $font-size-small;
                    font-weight: 900;
                    line-height: 1.8;
                  }
                  p{
                    font-size: $font-size-small;
                    line-height:1.2;
                    color: $gray;
                  }
                }
              }

            }
            .express{
              margin-top: 78px;
              text-align: left;
              margin-left:30px;
              padding-left:40px;
              border-top: 1px solid $gray-light-c;
              p{
                text-align: left;
                font-size: $font-size-base;
                line-height: 3;
              }
              label{
                font-size: $font-size-small;
                color: $gray;
                padding-right: 10px;
                input{
                  margin-right:5px;
                }
              }
            }
          }
          .pro{
            margin-top: 64px;
            position: relative;
          }
          .service{
            margin-top: 10px;
            position: relative;
          }
          .write{
            background: $bgc;
            @extend %write-width;

            h3{
              background: $gray-lighter;
              font-size: $font-size-small;
              font-weight: normal;
              height: 25px;
              line-height: 25px;
            }
            textarea{
              width: 100%;
              border: 0px;
              &.wp{
                height: 104px;
              }
              &.ws{
                height: 59px;
              }
            }
          }
          .subimg {
            border: 1px solid $gray-light-c;
            @extend %write-width;
            @extend %clearFix;
            margin-top: 10px;
            background: $bgc;
            padding: 13px;
            position: relative;
            .subinput{
              width: 60px;
              @extend %fLeft;
              button{
                width: 60px;
                background: url(../images/subimg.jpg) no-repeat center center;
                height: 60px;
                border: 0;
              }
              span{
                display: inline-block;
                height: 24px;
                width: 100px;
                border:1px solid $gray-light-c;
                position: absolute;
                bottom: -9px;
                left: -12px;
                background: $bgc;
                font-size: $font-size-small;
                text-align: center;

              }

            }
            .img {
              width:60px;
              height:60px;
              display: block;
              @extend %fRight;
              margin-left: 6px;
              position: relative;
            }
            .img_do {
              display: block;
              @extend %fRight;
              wdith: 60px;
              height: 60px;
              position: relative;
              margin-left: 6px;
              span{
                position: absolute;
                background: $gray-darker;
                @include customer-opacity(0.6);
                height: 16px;
                line-height: 16px;
                color: $write;
                left:0px;
                bottom: 0px;
                width:60px;
                font-size: $font-size-small;
              }
            }
          }
        }
      }
    }
    .subimpre{
      padding: 40px 0;
      overflow: hidden;
      input{
        @include border-radius(0);
        line-height:1;
        vertical-align: middle;
        padding-top:5px;
      }
      span{
        line-height:1;
        font-size: $font-size-small;
        color: $gray;
        padding:0 20px 0 5px;
        vertical-align: middle;
      }
      button{
        background: $orange;
        height: 26px;
        width: 82px;
        line-height:26px;
        font-size: $font-size-base;
        text-align: center;
        color: $bgc;
        border: 0;
        margin-left: 20px;
      }
    }
}

}