@charset "utf-8";
/**
 * Created by wwp9 on 2016-03-30.
 */
.request-refund{
  td {
    wdith: 59%;
    text-align: center;
    padding-top: 64px;

    a{
      display: inline-block;
      background: url(../images/requ_refun.jpg) repeat-x;
      height: 79px;
      width:206px;
      border: 1px solid $gray-light-c;
      @include border-radius();
      line-height: 79px;
      text-align: center;
      font-size: $font-size-large;
    }

  }
}