@charset "utf-8";
/**
 * Created by wwp9 on 2016-04-01.
 */
.serviceinfo{
  margin-top: 20px;
  background: $gray-lighter;
  padding: 17px 56px 56px 56px;
  h3{
    font-size: $font-size-base;
    border-bottom: 1px solid $gray-light-c;
    padding-left: 24px;
  }
  .request{
    margin: 10px 0px;
  }
  strong {
    font-size: $font-size-base;
    line-height: 2;
    color: $gray;
  }
  p {
    padding-left: 24px;
    font-size: $font-size-base;
    color:$gray;
  }
}