@charset "utf-8";
/**
 * Created by wwp9 on 2016-4-11.
 */
.main_img{
  margin-top: 22px;
  text-align: center;
  .bigimg{
    margin: 0 auto;
    width: 360px;
    height: 360px;;
  }
  .smallimg{
    margin-top: 10px;
    width:360px;
    margin-left:auto;
    margin-right:auto;
    .small_left{
      width: 14px;
      height: 42px;
      @extend %fLeft;
      position: relative;
      margin-top:10px;
      @extend %cursor-pointer;
    }
    .small_right{
      width: 14px;
      height: 42px;
      @extend %fRight;
      position: relative;
      margin-top:10px;
      @extend %cursor-pointer;
    }
    ul{
      height: 60px;
      width:330px;
      margin:0 auto;
      @extend %fLeft;
      position: relative;
      overflow:hidden;
      li{
        width:66px;
        height:60px;
        margin:0px ;
        text-align: center;
        @extend %fLeft;
      }
    }
  }
}
.pro_main{
  @extend %clearFix;
  width: 924px;
  margin:27px auto 0 auto;
  .main_font{
    width:74px;
    font-size: $font-size-base;
    @extend %fLeft;
  }
  ul{
    width: 850px;
    @extend %fLeft;
    li{
      width: 100px;
      height: 100px;
      margin-right: 5px;
      @extend %fLeft;
      @extend %cursor-pointer;
      position: relative;
      text-align: center;
      &.upload_img{
        border: 1px solid $gray-light-c;
        position: relative;
        i{
          line-height:100px;
          font-size:40px;
          color: $gray-light;
          font-weight:900;
        }
        span.top{
          display: none;
        }
        &:hover{
          span.top{
            display: block;
            position: absolute;
            text-align: center;
            top: 0;
            left: 0;
            background-color: $blackBase;
            @include customer-opacity(0.8);
            line-height: 20px;
            height: 20px;
            width: 100%;
            color: $bgc;
          }
        }
        span.bottom{
          display: block;
          height:20px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: $bgc;
          i{
            @extend %inline-block;
            position: relative;
            width:30px;
            text-align: center;
            font-size: $font-size-small;
            height: 20px;
            line-height:20px;
            &.left{
              color: $greenBase;
            }
            &.delete{
              color: $redBase;
            }
            &.right{
              color: $greenBase;
            }
          }
        }
      }
      &.upload_video{
        border: 1px dashed $gray-light-c;
        position: relative;
        @extend %cursor-pointer;
        text-align: center;
        span{
          line-height:30px;
          color: $gray-light-c;
          display: block;
        }
        i{
          font-size:38px;
          line-height:40px;
          color: $gray-light-c;
        }
    }
    }
  }
}