@charset "utf-8";
/**
 * Created by wwp9 on 2016-03-30.
 */
.table-1 {
  @include clearfix;
  %border {
    border-left: 1px solid $gray-d;
    border-right: 1px solid $gray-d;
  }
  .box-wrap {
    border: 1px solid $gray-d;
    @include table-1($body-bg,$bodyBGC,none);
    thead {
      th {
        @extend %border;
        text-align: left;
        padding-left: 20px;
      }
    }
    tbody {
      td {
        @extend %border;
        table {
          width: 100%;
          th {
            border: 0;
          }
          td {
            border: 0;
          }
        }
      }
    }
  }
  .left {
    width: 275px;
  }
}
